---
layout: layouts/page.liquid
title: Writing
tagline: Musings written down for safekeeping
pagination:
  data: collections.posts
  size: 15
  alias: posts
---

<p>
  Stuff I've written will go here.
</p>

{% include tagList
  tags: collections.tagList,
  wrap: true
%}

{% include postListing
  posts: posts
%}

<div class="mt-12">
  {% include pagination.liquid %}
</div>
