---
layout: layouts/page.liquid
title: Writing
tagline: Musings written down for safekeeping
pagination:
  data: collections.posts
  size: 12
  alias: posts
---

<p>
  You can either scroll down for a straight archive or all my archive, or click one of the below tags to see writing from a specific category.
  <a class="hidden" id="random-post-link">Or surprise yourself with a totally random blog post.</a>
</p>

{% include postListing
  posts: posts
%}

{% if pagination and hidePagination != true %}
  {% include pagination.liquid %}
{% endif %}
