---
layout: layouts/page.liquid
title: Writing
tagline: Musings written down for safekeeping
main-hide-slant: true
pagination:
  data: collections.posts
  size: 18
  alias: posts
---

<div class="post-content--full-bleed post-content--full-bleed--no-mt post-content--full-bleed--no-mb slant-top-left pt-10 slant-bottom-padding bg-mono-muted border-primary-base">
  <div class="resp-max-width">
    <p>
      You can either scroll down for a straight archive or all my archive, or click one of the below tags to see writing from a specific category. <a class="hidden" id="random-post-link">Or surprise yourself with a totally random blog post.</a>
    </p>

    {% include tagList
      tags: collections.tagList,
      classes: "py-8"
      wrap: true
    %}
  </div>
</div>

<div class="post-content--full-bleed post-content--full-bleed--no-mt slant-top-right pt-8 slant-bottom-padding bg-mono-white border-primary-light">
  {% include postListing
    wrapper_class: "resp-max-width resp-max-width--large"
    posts: posts
  %}
</div>
