---
layout: layouts/page.liquid
title: Writing
tagline: Musings written down for safekeeping
main-hide-slant: true
pagination:
  data: collections.posts
  size: 15
  alias: posts
---

<p>
  You can either scroll down for a straight archive or all my archive, or click one of the below tags to see writing from a specific category. <a class="hidden" id="random-post-link">Or surprise yourself with a totally random blog post.</a>
</p>

{% include tagList
  tags: collections.tagList,
  classes: "py-8"
  wrap: true
%}

{% include postListing
  posts: posts
%}

<div class="mt-12">
  {% include pagination.liquid %}
</div>
