---
layout: layouts/page.liquid
title: Writing
---

<p>
  Stuff I've written will go here.
</p>

<p>
  What's on the current homepage will go here instead? Recent articles from all categories, and then links to the larger archives?
</p>
