---
layout: layouts/base.liquid
title: Homepage
---

{% assign majorWork = work[1].work %}

<div class="minHeight-100vh color-mono-black">
  <div class="opening-text pt-2">
    <h1 class="opening-text__header text-h1 text-center">
      I make the web <br>
      <span class="opening-text--functional">functional</span> <br>
      <span class="opening-text--pretty">and pretty</span>
    </h1>

    {% include coordinateArt.liquid %}
  </div>

  <br class="hidden-xl-down">

  <div>
    <img width="150" height="150" class="logo mr-12 mb-4 border-radius-full hidden-sm-down" src="/assets/images/global/profile-2.jpg" alt="Maxwell's profile picture" />

    <p>
      Hello there! I'm Max Antonucci, a senior full-stack engineer that codes with HTML5, CSS3, JavaScript, React, Ember, Ruby, Ruby on Rails, Python, and more. My specialties include web accessibility and design systems. I love having the opportunity to contribute to the civic tech sphere, and I currently work with <a href="https://agile6.com/">AgileSix Applications.</a>
    </p>

    <p>
      I enjoy reading, crafting, mobile gaming, drawing, and traveling. I also like to write about programming. Read about challenging coding concepts, happenings in the programming world, and personal life lessons in <a href="/blog/">my blog.</a> A curious mind keeps me learning and understanding as I go along.
    </p>

    <p>
      I currently live in Connecticut with my lovely wife and my everyday ponderings.
    </p>
  </div>
  <br>

  <h3 class="text-center">
    Projects
  </h3>

  <p>
    If you want to learn more about what I can do, check out <a href="/projects/">my projects page.</a>
  </p>

  <section class="flex flex-wrap flex-gap-4">
    {% for workItem in majorWork %}
      {% include workItem.liquid
          workItem: workItem %}
    {% endfor %}
  </section>

  <br>
  <br>

  <h3 class="text-h4 text-center">
    Want to get in touch?
  </h3>

  <p class="text-center">
    You can find me on <a href="https://www.linkedin.com/in/maxwellantonucci/">LinkedIn,</a> <a href="https://github.com/maxx1128">Github,</a> <a href="http://codepen.io/max1128/">CodePen,</a> or <a href="/contact/">reach out to me directly.</a>
  </p>

  <br>
  <br>
  <br>
</div>
