---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/page.liquid
eleventyComputed:
  title: Tagged "{{ tag }}"
permalink: /tags/{{ tag }}/
hidePagination: true
---

{% assign posts = collections[tag] | reverse | onlyPublished %}

{% comment %}
  The tag description can go in another slanted container here, so the post listing lines up.
  Then the top padding here can be removed.
{% endcomment %}
<div class="post-content--full-bleed pt-4">
  {% include postListing
    wrapper_class: "resp-max-width resp-max-width--large",
    posts: posts
  %}
</div>
