---
permalink: /tags/
layout: layouts/page.liquid
---
<h1>Tags</h1>

<ul>
{% for tag in collections.tagList %}
  {% assign tagUrl = "/tags/" | append: tag %}
  <li>
    <a href="{{ tagUrl | url }}" class="post-tag">
      {{ tag }}
    </a>
  </li>
{% endfor %}
</ul>
