---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/page.liquid
eleventyComputed:
  title: Tagged "{{ tag }}"
permalink: /tags/{{ tag }}/
hidePagination: true
---

{% assign posts = collections[tag] | reverse %}

<div class="post-content--full-bleed">
  {% include postListing
    wrapper_class: "resp-max-width resp-max-width--large",
    posts: posts
  %}
</div>
