@mixin darkMode() {
  .theme-dark {
    @content;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      @content;
    }
  }
}

:root {
  --color-primary-dark: #16697a;
  --color-primary-base: #489fb5;
  --color-primary-light: #82c0cc;

  --color-action-base: #D62246;

  --color-mono-black: #020402;
  --color-mono-white: #FFFEFC;
}

@include darkMode() {
  --color-primary-dark: #82c0cc;
  --color-primary-light: #16697a;

  --color-action-base: #E7657F;

  --color-mono-black: #FFFEFC;
  --color-mono-white: #020402;
}

// This function pulls specific color values from the below map
@function color($color, $tone: base) {
  @if map-has-key($color-map, $color) {
    @return map-get(map-get($color-map, $color), $tone);
  }
}

// Map for storing all color variables
$color-map: (
  primary: (
    dark: var(--color-primary-dark),
    base: var(--color-primary-base),
    light: var(--color-primary-light)
  ),

  action: (
    base: var(--color-action-base)
  ),

  mono: (
    black: var(--color-mono-black),
    white: var(--color-mono-white)
  )
);
