@import "../_tools/calc";
// All variables related to the grid, including breakpoints

// For pulling specific breakpoint width values out.
// Not for adding breakpoint styles.
@function breakpoint($width) {
  @if map-has-key($breakpoint-map, $width) {
    @return map-get($breakpoint-map, $width);
  }
}

$g-content-min-width: 500px;
$g-content-med-width: 85vw;
$g-content-max-width: 925px;

// Map for the breakpoints and max width
$breakpoint-map: (
  xs: 0,
  contentMin: rem($g-content-min-width),
  sm: rem(480px),
  md: rem(625px),
  lg: rem(750px),
  xl: rem(900px),
  xxl: rem(1000px)
);
