<article class="now-books__item book relative">
  <p class="book__title p-2 pr-8 my-0 text-small text-left font-weight-bold">
    <a href="{{ book.link }}" target="_blank" rel="noopener">{{ book.title }}</a>
  </p>
  <img class="book__image block" src="{{ book.image_url }}" alt="">
  <p class="book__author p-2 pl-8 my-0 text-small text-right">
    By {{ book.author }}
  </p>
</article>
