
<div class="coordinates-wrapper">
  <svg class="coordinates" viewbox="-550 -550 1100 1100">
    <polygon class="polygon_-500x-500" opacity="0"></polygon>
    <line class="line_-500x-500" x1="-500" y1="-500" x2="-500" y2="-500" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-500x-500" cy="-500" cx="-500" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-500x-500" cy="-500" cx="-500" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-500x-400" opacity="0"></polygon>
    <line class="line_-500x-400" x1="-500" y1="-400" x2="-500" y2="-400" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-500x-400" cy="-400" cx="-500" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-500x-400" cy="-400" cx="-500" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-500x-300" opacity="0"></polygon>
    <line class="line_-500x-300" x1="-500" y1="-300" x2="-500" y2="-300" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-500x-300" cy="-300" cx="-500" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-500x-300" cy="-300" cx="-500" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-500x-200" opacity="0"></polygon>
    <line class="line_-500x-200" x1="-500" y1="-200" x2="-500" y2="-200" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-500x-200" cy="-200" cx="-500" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-500x-200" cy="-200" cx="-500" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-500x-100" opacity="0"></polygon>
    <line class="line_-500x-100" x1="-500" y1="-100" x2="-500" y2="-100" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-500x-100" cy="-100" cx="-500" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-500x-100" cy="-100" cx="-500" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-500x0" opacity="0"></polygon>
    <line class="line_-500x0" x1="-500" y1="0" x2="-500" y2="0" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-500x0" cy="0" cx="-500" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-500x0" cy="0" cx="-500" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-500x100" opacity="0"></polygon>
    <line class="line_-500x100" x1="-500" y1="100" x2="-500" y2="100" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-500x100" cy="100" cx="-500" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-500x100" cy="100" cx="-500" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-500x200" opacity="0"></polygon>
    <line class="line_-500x200" x1="-500" y1="200" x2="-500" y2="200" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-500x200" cy="200" cx="-500" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-500x200" cy="200" cx="-500" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-500x300" opacity="0"></polygon>
    <line class="line_-500x300" x1="-500" y1="300" x2="-500" y2="300" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-500x300" cy="300" cx="-500" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-500x300" cy="300" cx="-500" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-500x400" opacity="0"></polygon>
    <line class="line_-500x400" x1="-500" y1="400" x2="-500" y2="400" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-500x400" cy="400" cx="-500" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-500x400" cy="400" cx="-500" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-500x500" opacity="0"></polygon>
    <line class="line_-500x500" x1="-500" y1="500" x2="-500" y2="500" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-500x500" cy="500" cx="-500" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-500x500" cy="500" cx="-500" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-400x-500" opacity="0"></polygon>
    <line class="line_-400x-500" x1="-400" y1="-500" x2="-400" y2="-500" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-400x-500" cy="-500" cx="-400" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-400x-500" cy="-500" cx="-400" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-400x-400" opacity="0"></polygon>
    <line class="line_-400x-400" x1="-400" y1="-400" x2="-400" y2="-400" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-400x-400" cy="-400" cx="-400" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-400x-400" cy="-400" cx="-400" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-400x-300" opacity="0"></polygon>
    <line class="line_-400x-300" x1="-400" y1="-300" x2="-400" y2="-300" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-400x-300" cy="-300" cx="-400" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-400x-300" cy="-300" cx="-400" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-400x-200" opacity="0"></polygon>
    <line class="line_-400x-200" x1="-400" y1="-200" x2="-400" y2="-200" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-400x-200" cy="-200" cx="-400" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-400x-200" cy="-200" cx="-400" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-400x-100" opacity="0"></polygon>
    <line class="line_-400x-100" x1="-400" y1="-100" x2="-400" y2="-100" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-400x-100" cy="-100" cx="-400" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-400x-100" cy="-100" cx="-400" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-400x0" opacity="0"></polygon>
    <line class="line_-400x0" x1="-400" y1="0" x2="-400" y2="0" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-400x0" cy="0" cx="-400" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-400x0" cy="0" cx="-400" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-400x100" opacity="0"></polygon>
    <line class="line_-400x100" x1="-400" y1="100" x2="-400" y2="100" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-400x100" cy="100" cx="-400" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-400x100" cy="100" cx="-400" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-400x200" opacity="0"></polygon>
    <line class="line_-400x200" x1="-400" y1="200" x2="-400" y2="200" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-400x200" cy="200" cx="-400" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-400x200" cy="200" cx="-400" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-400x300" opacity="0"></polygon>
    <line class="line_-400x300" x1="-400" y1="300" x2="-400" y2="300" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-400x300" cy="300" cx="-400" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-400x300" cy="300" cx="-400" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-400x400" opacity="0"></polygon>
    <line class="line_-400x400" x1="-400" y1="400" x2="-400" y2="400" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-400x400" cy="400" cx="-400" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-400x400" cy="400" cx="-400" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-400x500" opacity="0"></polygon>
    <line class="line_-400x500" x1="-400" y1="500" x2="-400" y2="500" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-400x500" cy="500" cx="-400" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-400x500" cy="500" cx="-400" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-300x-500" opacity="0"></polygon>
    <line class="line_-300x-500" x1="-300" y1="-500" x2="-300" y2="-500" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-300x-500" cy="-500" cx="-300" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-300x-500" cy="-500" cx="-300" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-300x-400" opacity="0"></polygon>
    <line class="line_-300x-400" x1="-300" y1="-400" x2="-300" y2="-400" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-300x-400" cy="-400" cx="-300" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-300x-400" cy="-400" cx="-300" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-300x-300" opacity="0"></polygon>
    <line class="line_-300x-300" x1="-300" y1="-300" x2="-300" y2="-300" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-300x-300" cy="-300" cx="-300" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-300x-300" cy="-300" cx="-300" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-300x-200" opacity="0"></polygon>
    <line class="line_-300x-200" x1="-300" y1="-200" x2="-300" y2="-200" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-300x-200" cy="-200" cx="-300" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-300x-200" cy="-200" cx="-300" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-300x-100" opacity="0"></polygon>
    <line class="line_-300x-100" x1="-300" y1="-100" x2="-300" y2="-100" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-300x-100" cy="-100" cx="-300" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-300x-100" cy="-100" cx="-300" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-300x0" opacity="0"></polygon>
    <line class="line_-300x0" x1="-300" y1="0" x2="-300" y2="0" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-300x0" cy="0" cx="-300" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-300x0" cy="0" cx="-300" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-300x100" opacity="0"></polygon>
    <line class="line_-300x100" x1="-300" y1="100" x2="-300" y2="100" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-300x100" cy="100" cx="-300" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-300x100" cy="100" cx="-300" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-300x200" opacity="0"></polygon>
    <line class="line_-300x200" x1="-300" y1="200" x2="-300" y2="200" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-300x200" cy="200" cx="-300" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-300x200" cy="200" cx="-300" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-300x300" opacity="0"></polygon>
    <line class="line_-300x300" x1="-300" y1="300" x2="-300" y2="300" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-300x300" cy="300" cx="-300" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-300x300" cy="300" cx="-300" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-300x400" opacity="0"></polygon>
    <line class="line_-300x400" x1="-300" y1="400" x2="-300" y2="400" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-300x400" cy="400" cx="-300" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-300x400" cy="400" cx="-300" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-300x500" opacity="0"></polygon>
    <line class="line_-300x500" x1="-300" y1="500" x2="-300" y2="500" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-300x500" cy="500" cx="-300" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-300x500" cy="500" cx="-300" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-200x-500" opacity="0"></polygon>
    <line class="line_-200x-500" x1="-200" y1="-500" x2="-200" y2="-500" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-200x-500" cy="-500" cx="-200" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-200x-500" cy="-500" cx="-200" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-200x-400" opacity="0"></polygon>
    <line class="line_-200x-400" x1="-200" y1="-400" x2="-200" y2="-400" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-200x-400" cy="-400" cx="-200" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-200x-400" cy="-400" cx="-200" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-200x-300" opacity="0"></polygon>
    <line class="line_-200x-300" x1="-200" y1="-300" x2="-200" y2="-300" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-200x-300" cy="-300" cx="-200" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-200x-300" cy="-300" cx="-200" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-200x-200" opacity="0"></polygon>
    <line class="line_-200x-200" x1="-200" y1="-200" x2="-200" y2="-200" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-200x-200" cy="-200" cx="-200" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-200x-200" cy="-200" cx="-200" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-200x-100" opacity="0"></polygon>
    <line class="line_-200x-100" x1="-200" y1="-100" x2="-200" y2="-100" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-200x-100" cy="-100" cx="-200" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-200x-100" cy="-100" cx="-200" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-200x0" opacity="0"></polygon>
    <line class="line_-200x0" x1="-200" y1="0" x2="-200" y2="0" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-200x0" cy="0" cx="-200" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-200x0" cy="0" cx="-200" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-200x100" opacity="0"></polygon>
    <line class="line_-200x100" x1="-200" y1="100" x2="-200" y2="100" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-200x100" cy="100" cx="-200" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-200x100" cy="100" cx="-200" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-200x200" opacity="0"></polygon>
    <line class="line_-200x200" x1="-200" y1="200" x2="-200" y2="200" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-200x200" cy="200" cx="-200" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-200x200" cy="200" cx="-200" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-200x300" opacity="0"></polygon>
    <line class="line_-200x300" x1="-200" y1="300" x2="-200" y2="300" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-200x300" cy="300" cx="-200" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-200x300" cy="300" cx="-200" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-200x400" opacity="0"></polygon>
    <line class="line_-200x400" x1="-200" y1="400" x2="-200" y2="400" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-200x400" cy="400" cx="-200" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-200x400" cy="400" cx="-200" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-200x500" opacity="0"></polygon>
    <line class="line_-200x500" x1="-200" y1="500" x2="-200" y2="500" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-200x500" cy="500" cx="-200" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-200x500" cy="500" cx="-200" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-100x-500" opacity="0"></polygon>
    <line class="line_-100x-500" x1="-100" y1="-500" x2="-100" y2="-500" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-100x-500" cy="-500" cx="-100" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-100x-500" cy="-500" cx="-100" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-100x-400" opacity="0"></polygon>
    <line class="line_-100x-400" x1="-100" y1="-400" x2="-100" y2="-400" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-100x-400" cy="-400" cx="-100" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-100x-400" cy="-400" cx="-100" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-100x-300" opacity="0"></polygon>
    <line class="line_-100x-300" x1="-100" y1="-300" x2="-100" y2="-300" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-100x-300" cy="-300" cx="-100" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-100x-300" cy="-300" cx="-100" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-100x-200" opacity="0"></polygon>
    <line class="line_-100x-200" x1="-100" y1="-200" x2="-100" y2="-200" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-100x-200" cy="-200" cx="-100" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-100x-200" cy="-200" cx="-100" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-100x-100" opacity="0"></polygon>
    <line class="line_-100x-100" x1="-100" y1="-100" x2="-100" y2="-100" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-100x-100" cy="-100" cx="-100" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-100x-100" cy="-100" cx="-100" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-100x0" opacity="0"></polygon>
    <line class="line_-100x0" x1="-100" y1="0" x2="-100" y2="0" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-100x0" cy="0" cx="-100" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-100x0" cy="0" cx="-100" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-100x100" opacity="0"></polygon>
    <line class="line_-100x100" x1="-100" y1="100" x2="-100" y2="100" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-100x100" cy="100" cx="-100" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-100x100" cy="100" cx="-100" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-100x200" opacity="0"></polygon>
    <line class="line_-100x200" x1="-100" y1="200" x2="-100" y2="200" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-100x200" cy="200" cx="-100" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-100x200" cy="200" cx="-100" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-100x300" opacity="0"></polygon>
    <line class="line_-100x300" x1="-100" y1="300" x2="-100" y2="300" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-100x300" cy="300" cx="-100" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-100x300" cy="300" cx="-100" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-100x400" opacity="0"></polygon>
    <line class="line_-100x400" x1="-100" y1="400" x2="-100" y2="400" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-100x400" cy="400" cx="-100" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-100x400" cy="400" cx="-100" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_-100x500" opacity="0"></polygon>
    <line class="line_-100x500" x1="-100" y1="500" x2="-100" y2="500" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_-100x500" cy="500" cx="-100" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_-100x500" cy="500" cx="-100" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_0x-500" opacity="0"></polygon>
    <line class="line_0x-500" x1="0" y1="-500" x2="0" y2="-500" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_0x-500" cy="-500" cx="0" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_0x-500" cy="-500" cx="0" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_0x-400" opacity="0"></polygon>
    <line class="line_0x-400" x1="0" y1="-400" x2="0" y2="-400" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_0x-400" cy="-400" cx="0" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_0x-400" cy="-400" cx="0" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_0x-300" opacity="0"></polygon>
    <line class="line_0x-300" x1="0" y1="-300" x2="0" y2="-300" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_0x-300" cy="-300" cx="0" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_0x-300" cy="-300" cx="0" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_0x-200" opacity="0"></polygon>
    <line class="line_0x-200" x1="0" y1="-200" x2="0" y2="-200" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_0x-200" cy="-200" cx="0" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_0x-200" cy="-200" cx="0" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_0x-100" opacity="0"></polygon>
    <line class="line_0x-100" x1="0" y1="-100" x2="0" y2="-100" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_0x-100" cy="-100" cx="0" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_0x-100" cy="-100" cx="0" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_0x0" opacity="0"></polygon>
    <line class="line_0x0" x1="0" y1="0" x2="0" y2="0" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_0x0" cy="0" cx="0" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_0x0" cy="0" cx="0" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_0x100" opacity="0"></polygon>
    <line class="line_0x100" x1="0" y1="100" x2="0" y2="100" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_0x100" cy="100" cx="0" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_0x100" cy="100" cx="0" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_0x200" opacity="0"></polygon>
    <line class="line_0x200" x1="0" y1="200" x2="0" y2="200" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_0x200" cy="200" cx="0" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_0x200" cy="200" cx="0" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_0x300" opacity="0"></polygon>
    <line class="line_0x300" x1="0" y1="300" x2="0" y2="300" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_0x300" cy="300" cx="0" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_0x300" cy="300" cx="0" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_0x400" opacity="0"></polygon>
    <line class="line_0x400" x1="0" y1="400" x2="0" y2="400" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_0x400" cy="400" cx="0" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_0x400" cy="400" cx="0" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_0x500" opacity="0"></polygon>
    <line class="line_0x500" x1="0" y1="500" x2="0" y2="500" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_0x500" cy="500" cx="0" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_0x500" cy="500" cx="0" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_100x-500" opacity="0"></polygon>
    <line class="line_100x-500" x1="100" y1="-500" x2="100" y2="-500" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_100x-500" cy="-500" cx="100" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_100x-500" cy="-500" cx="100" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_100x-400" opacity="0"></polygon>
    <line class="line_100x-400" x1="100" y1="-400" x2="100" y2="-400" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_100x-400" cy="-400" cx="100" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_100x-400" cy="-400" cx="100" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_100x-300" opacity="0"></polygon>
    <line class="line_100x-300" x1="100" y1="-300" x2="100" y2="-300" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_100x-300" cy="-300" cx="100" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_100x-300" cy="-300" cx="100" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_100x-200" opacity="0"></polygon>
    <line class="line_100x-200" x1="100" y1="-200" x2="100" y2="-200" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_100x-200" cy="-200" cx="100" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_100x-200" cy="-200" cx="100" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_100x-100" opacity="0"></polygon>
    <line class="line_100x-100" x1="100" y1="-100" x2="100" y2="-100" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_100x-100" cy="-100" cx="100" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_100x-100" cy="-100" cx="100" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_100x0" opacity="0"></polygon>
    <line class="line_100x0" x1="100" y1="0" x2="100" y2="0" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_100x0" cy="0" cx="100" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_100x0" cy="0" cx="100" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_100x100" opacity="0"></polygon>
    <line class="line_100x100" x1="100" y1="100" x2="100" y2="100" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_100x100" cy="100" cx="100" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_100x100" cy="100" cx="100" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_100x200" opacity="0"></polygon>
    <line class="line_100x200" x1="100" y1="200" x2="100" y2="200" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_100x200" cy="200" cx="100" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_100x200" cy="200" cx="100" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_100x300" opacity="0"></polygon>
    <line class="line_100x300" x1="100" y1="300" x2="100" y2="300" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_100x300" cy="300" cx="100" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_100x300" cy="300" cx="100" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_100x400" opacity="0"></polygon>
    <line class="line_100x400" x1="100" y1="400" x2="100" y2="400" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_100x400" cy="400" cx="100" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_100x400" cy="400" cx="100" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_100x500" opacity="0"></polygon>
    <line class="line_100x500" x1="100" y1="500" x2="100" y2="500" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_100x500" cy="500" cx="100" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_100x500" cy="500" cx="100" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_200x-500" opacity="0"></polygon>
    <line class="line_200x-500" x1="200" y1="-500" x2="200" y2="-500" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_200x-500" cy="-500" cx="200" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_200x-500" cy="-500" cx="200" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_200x-400" opacity="0"></polygon>
    <line class="line_200x-400" x1="200" y1="-400" x2="200" y2="-400" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_200x-400" cy="-400" cx="200" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_200x-400" cy="-400" cx="200" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_200x-300" opacity="0"></polygon>
    <line class="line_200x-300" x1="200" y1="-300" x2="200" y2="-300" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_200x-300" cy="-300" cx="200" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_200x-300" cy="-300" cx="200" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_200x-200" opacity="0"></polygon>
    <line class="line_200x-200" x1="200" y1="-200" x2="200" y2="-200" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_200x-200" cy="-200" cx="200" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_200x-200" cy="-200" cx="200" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_200x-100" opacity="0"></polygon>
    <line class="line_200x-100" x1="200" y1="-100" x2="200" y2="-100" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_200x-100" cy="-100" cx="200" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_200x-100" cy="-100" cx="200" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_200x0" opacity="0"></polygon>
    <line class="line_200x0" x1="200" y1="0" x2="200" y2="0" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_200x0" cy="0" cx="200" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_200x0" cy="0" cx="200" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_200x100" opacity="0"></polygon>
    <line class="line_200x100" x1="200" y1="100" x2="200" y2="100" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_200x100" cy="100" cx="200" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_200x100" cy="100" cx="200" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_200x200" opacity="0"></polygon>
    <line class="line_200x200" x1="200" y1="200" x2="200" y2="200" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_200x200" cy="200" cx="200" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_200x200" cy="200" cx="200" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_200x300" opacity="0"></polygon>
    <line class="line_200x300" x1="200" y1="300" x2="200" y2="300" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_200x300" cy="300" cx="200" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_200x300" cy="300" cx="200" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_200x400" opacity="0"></polygon>
    <line class="line_200x400" x1="200" y1="400" x2="200" y2="400" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_200x400" cy="400" cx="200" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_200x400" cy="400" cx="200" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_200x500" opacity="0"></polygon>
    <line class="line_200x500" x1="200" y1="500" x2="200" y2="500" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_200x500" cy="500" cx="200" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_200x500" cy="500" cx="200" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_300x-500" opacity="0"></polygon>
    <line class="line_300x-500" x1="300" y1="-500" x2="300" y2="-500" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_300x-500" cy="-500" cx="300" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_300x-500" cy="-500" cx="300" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_300x-400" opacity="0"></polygon>
    <line class="line_300x-400" x1="300" y1="-400" x2="300" y2="-400" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_300x-400" cy="-400" cx="300" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_300x-400" cy="-400" cx="300" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_300x-300" opacity="0"></polygon>
    <line class="line_300x-300" x1="300" y1="-300" x2="300" y2="-300" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_300x-300" cy="-300" cx="300" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_300x-300" cy="-300" cx="300" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_300x-200" opacity="0"></polygon>
    <line class="line_300x-200" x1="300" y1="-200" x2="300" y2="-200" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_300x-200" cy="-200" cx="300" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_300x-200" cy="-200" cx="300" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_300x-100" opacity="0"></polygon>
    <line class="line_300x-100" x1="300" y1="-100" x2="300" y2="-100" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_300x-100" cy="-100" cx="300" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_300x-100" cy="-100" cx="300" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_300x0" opacity="0"></polygon>
    <line class="line_300x0" x1="300" y1="0" x2="300" y2="0" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_300x0" cy="0" cx="300" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_300x0" cy="0" cx="300" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_300x100" opacity="0"></polygon>
    <line class="line_300x100" x1="300" y1="100" x2="300" y2="100" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_300x100" cy="100" cx="300" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_300x100" cy="100" cx="300" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_300x200" opacity="0"></polygon>
    <line class="line_300x200" x1="300" y1="200" x2="300" y2="200" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_300x200" cy="200" cx="300" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_300x200" cy="200" cx="300" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_300x300" opacity="0"></polygon>
    <line class="line_300x300" x1="300" y1="300" x2="300" y2="300" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_300x300" cy="300" cx="300" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_300x300" cy="300" cx="300" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_300x400" opacity="0"></polygon>
    <line class="line_300x400" x1="300" y1="400" x2="300" y2="400" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_300x400" cy="400" cx="300" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_300x400" cy="400" cx="300" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_300x500" opacity="0"></polygon>
    <line class="line_300x500" x1="300" y1="500" x2="300" y2="500" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_300x500" cy="500" cx="300" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_300x500" cy="500" cx="300" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_400x-500" opacity="0"></polygon>
    <line class="line_400x-500" x1="400" y1="-500" x2="400" y2="-500" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_400x-500" cy="-500" cx="400" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_400x-500" cy="-500" cx="400" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_400x-400" opacity="0"></polygon>
    <line class="line_400x-400" x1="400" y1="-400" x2="400" y2="-400" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_400x-400" cy="-400" cx="400" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_400x-400" cy="-400" cx="400" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_400x-300" opacity="0"></polygon>
    <line class="line_400x-300" x1="400" y1="-300" x2="400" y2="-300" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_400x-300" cy="-300" cx="400" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_400x-300" cy="-300" cx="400" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_400x-200" opacity="0"></polygon>
    <line class="line_400x-200" x1="400" y1="-200" x2="400" y2="-200" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_400x-200" cy="-200" cx="400" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_400x-200" cy="-200" cx="400" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_400x-100" opacity="0"></polygon>
    <line class="line_400x-100" x1="400" y1="-100" x2="400" y2="-100" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_400x-100" cy="-100" cx="400" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_400x-100" cy="-100" cx="400" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_400x0" opacity="0"></polygon>
    <line class="line_400x0" x1="400" y1="0" x2="400" y2="0" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_400x0" cy="0" cx="400" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_400x0" cy="0" cx="400" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_400x100" opacity="0"></polygon>
    <line class="line_400x100" x1="400" y1="100" x2="400" y2="100" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_400x100" cy="100" cx="400" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_400x100" cy="100" cx="400" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_400x200" opacity="0"></polygon>
    <line class="line_400x200" x1="400" y1="200" x2="400" y2="200" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_400x200" cy="200" cx="400" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_400x200" cy="200" cx="400" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_400x300" opacity="0"></polygon>
    <line class="line_400x300" x1="400" y1="300" x2="400" y2="300" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_400x300" cy="300" cx="400" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_400x300" cy="300" cx="400" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_400x400" opacity="0"></polygon>
    <line class="line_400x400" x1="400" y1="400" x2="400" y2="400" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_400x400" cy="400" cx="400" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_400x400" cy="400" cx="400" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_400x500" opacity="0"></polygon>
    <line class="line_400x500" x1="400" y1="500" x2="400" y2="500" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_400x500" cy="500" cx="400" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_400x500" cy="500" cx="400" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_500x-500" opacity="0"></polygon>
    <line class="line_500x-500" x1="500" y1="-500" x2="500" y2="-500" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_500x-500" cy="-500" cx="500" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_500x-500" cy="-500" cx="500" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_500x-400" opacity="0"></polygon>
    <line class="line_500x-400" x1="500" y1="-400" x2="500" y2="-400" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_500x-400" cy="-400" cx="500" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_500x-400" cy="-400" cx="500" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_500x-300" opacity="0"></polygon>
    <line class="line_500x-300" x1="500" y1="-300" x2="500" y2="-300" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_500x-300" cy="-300" cx="500" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_500x-300" cy="-300" cx="500" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_500x-200" opacity="0"></polygon>
    <line class="line_500x-200" x1="500" y1="-200" x2="500" y2="-200" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_500x-200" cy="-200" cx="500" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_500x-200" cy="-200" cx="500" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_500x-100" opacity="0"></polygon>
    <line class="line_500x-100" x1="500" y1="-100" x2="500" y2="-100" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_500x-100" cy="-100" cx="500" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_500x-100" cy="-100" cx="500" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_500x0" opacity="0"></polygon>
    <line class="line_500x0" x1="500" y1="0" x2="500" y2="0" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_500x0" cy="0" cx="500" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_500x0" cy="0" cx="500" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_500x100" opacity="0"></polygon>
    <line class="line_500x100" x1="500" y1="100" x2="500" y2="100" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_500x100" cy="100" cx="500" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_500x100" cy="100" cx="500" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_500x200" opacity="0"></polygon>
    <line class="line_500x200" x1="500" y1="200" x2="500" y2="200" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_500x200" cy="200" cx="500" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_500x200" cy="200" cx="500" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_500x300" opacity="0"></polygon>
    <line class="line_500x300" x1="500" y1="300" x2="500" y2="300" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_500x300" cy="300" cx="500" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_500x300" cy="300" cx="500" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_500x400" opacity="0"></polygon>
    <line class="line_500x400" x1="500" y1="400" x2="500" y2="400" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_500x400" cy="400" cx="500" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_500x400" cy="400" cx="500" r="10" fill="#ec9707" opacity="0"></circle>
    <polygon class="polygon_500x500" opacity="0"></polygon>
    <line class="line_500x500" x1="500" y1="500" x2="500" y2="500" stroke-width="5" stroke="black" opacity="0.7"></line>
    <circle class="circleBack_500x500" cy="500" cx="500" r="10" fill="#ec9707" opacity="0"></circle>
    <circle class="circle_500x500" cy="500" cx="500" r="10" fill="#ec9707" opacity="0"></circle>
  </svg>
</div>
