<div class="doodle-container" aria-hidden="true">
  {% include doodle.liquid,
    align: 'left'
  %}

  {% include doodle.liquid,
    align: 'left'
  %}

  {% include doodle.liquid,
    align: 'left'
  %}
</div>

<div class="doodle-container doodle-container--right" aria-hidden="true">
  {% include doodle.liquid,
    align: 'right'
  %}

  {% include doodle.liquid,
    align: 'right'
  %}

  {% include doodle.liquid,
    align: 'right'
  %}
</div>
