<div class="note-doodle-container" aria-hidden="true">
  {% include doodle.liquid %}

  {% include doodle.liquid %}

  {% include doodle.liquid %}
</div>

<div class="note-doodle-container note-doodle-container--right" aria-hidden="true">
  {% include doodle.liquid %}

  {% include doodle.liquid %}

  {% include doodle.liquid %}
</div>
