<div class="note-doodle-container" aria-hidden="true">
  {% include doodle.liquid,
    align: 'left'
  %}

  {% include doodle.liquid,
    align: 'left'
  %}

  {% include doodle.liquid,
    align: 'left'
  %}
</div>

<div class="note-doodle-container note-doodle-container--right" aria-hidden="true">
  {% include doodle.liquid,
    align: 'right'
  %}

  {% include doodle.liquid,
    align: 'right'
  %}

  {% include doodle.liquid,
    align: 'right'
  %}
</div>
