<div aria-visibility="hidden" class="screenReader" style="font-family: 'WorkSans'">
  &nbsp;
</div>

<!-- Set up JS Data -->
{% include gatherposts.liquid %}
{% include gathernotes.liquid %}

<!-- Save JS Data to window -->
<script>
  (function() {
    document.getElementsByTagName("html")[0].classList.remove("no-js");

    const ContentData = window.ContentData || {};
    const postData = document.getElementById("post-data").innerHTML;
    const noteData = document.getElementById("note-data").innerHTML;

    const setPostData = data => ContentData.posts = data;
    const setNoteData = data => ContentData.notes = data;

    ContentData.init = (postData, noteData) => {
      setPostData(postData);
      setNoteData(noteData);
    };

    window.ContentData = ContentData;
    window.ContentData.init(JSON.parse(postData), JSON.parse(noteData));
  })();
</script>

<script type="text/javascript" src="/assets/javascript/main.js" charset="utf8" ></script>
