<footer class="p-4 bg-primary-dark text-mono-white">
  <div class="footer__content mx-auto md--px-4">
    <p class="mb-0 italic text-small">
      <span aria-label="Copyright" class="hidden-md-up">©</span><span class="hidden-md-down">Copyright</span> 2024, Maxwell Antonucci. All rights reserved.
    </p>
  </div>
</footer>
