{% unless title contains 'About Me' %}
  <footer class="footer">
    <div class="resp-max-width pt-8 pb-4">
      <img class="logo ml-4 mb-4 border-radius-full hidden-md-down" src="/assets/images/global/profile.jpg" alt="" />

      <h2 class="mt-0 text-h5">
        About Myself
      </h2>

      <p>
        I'm Max Antonucci, a front-end developer from Connecticut. I work at SeeClickFix, a civic tech app that lets citizens report local issues to municipal governments. I also enjoy writing, reading, boxing, video games, and escaping our shared physical reality to a realm of pure energy. Then doing some more reading.
      </p>
    </div>
  </footer>
{% endunless %}
