<div aria-hidden="true" class="screenReader" style="font-family: 'WorkSans'">
  &nbsp;
</div>

<!-- Set up JS Data -->
{% include gatherposts.liquid %}
{% include gathernotes.liquid %}
{% include gatherlessons.liquid %}

<!-- Save JS Data to window -->
<script>
  (function() {
    document.getElementsByTagName("html")[0].classList.remove("no-js");

    const ContentData = window.ContentData || {};
    const postData = JSON.parse(document.getElementById("post-data").innerHTML);
    const noteData = JSON.parse(document.getElementById("note-data").innerHTML);
    const lessonData = JSON.parse(document.getElementById("lesson-data").innerHTML);

    const setPostData = data => ContentData.posts = data;
    const setNoteData = data => ContentData.notes = data;
    const setLessonData = data => ContentData.lessons = data;

    ContentData.init = (postData, noteData, lessonData) => {
      setPostData(postData);
      setNoteData(noteData);
      setLessonData(lessonData);
    };

    window.ContentData = ContentData;
    window.ContentData.init(postData, noteData, lessonData);
  })();
</script>

<script type="text/javascript" src="/assets/javascript/main.js" charset="utf8" ></script>
