<nav class="resp-max-width mx-auto pt-2 mb-12">
  <ul id="navigation-menu" class="flex flex-wrap flex-gap-6 mb-0 py-0 flex-align-center flex-justify-between list-reset">
    {% for menu_item in menu %}
      {% if menu_item.link == page.url %}
        {% assign active_page = true %}
        {% assign current_page = true %}
      {% elsif page.url contains '/posts/' and menu_item.link == '/writing/' %}
        {% assign active_page = true %}
        {% assign current_page = false %}
      {% elsif page.url contains '/writing/' and menu_item.link contains '/writing/' %}
        {% assign active_page = true %}
        {% assign current_page = false %}
      {% elsif page.url contains '/tags/' and menu_item.link == '/writing/' %}
        {% assign active_page = true %}
        {% assign current_page = false %}
      {% elsif page.url contains '/notes/' and menu_item.link contains '/notes/' %}
        {% assign active_page = true %}
        {% assign current_page = false %}
      {% else %}
        {% assign active_page = false %}
        {% assign current_page = false %}
      {% endif %}

      <li class="inline-block text-center mb-0">
        <a {% if active_page %}aria-current="page"{% endif %} class="block my-px {% if active_page %}font-weight-bold{% else %}text-small{% endif %}" href="{% if current_page %}#content{% else %}{{menu_item.link}}{% endif %}">
          {{ menu_item.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
