<nav class="resp-max-width mx-auto pt-2 mb-12">
  <ul id="navigation-menu" class="flex flex-wrap flex-gap-3 mb-0 py-0 flex-justify-between list-reset">
    {% for menu_item in menu %}
      {% if menu_item.link == page.url %}
        {% assign active_page = true %}
        {% assign current_page = true %}
      {% elsif page.url contains '/posts/' and menu_item.link == '/writing/' %}
        {% assign active_page = true %}
        {% assign current_page = false %}
      {% elsif page.url contains '/writing/' and menu_item.link contains '/writing/' %}
        {% assign active_page = true %}
        {% assign current_page = false %}
      {% elsif page.url contains '/tags/' and menu_item.link == '/writing/' %}
        {% assign active_page = true %}
        {% assign current_page = false %}
      {% elsif page.url contains '/notes/' and menu_item.link contains '/notes/' %}
        {% assign active_page = true %}
        {% assign current_page = false %}
      {% else %}
        {% assign active_page = false %}
        {% assign current_page = false %}
      {% endif %}

      <li class="inline-block text-center mb-0">
        <a class="block my-px text-small {% if active_page %}font-weight-bold{% endif %}" href="{% if current_page %}#content{% else %}{{menu_item.link}}{% endif %}" {% if menu_item.external %}target="_blank" rel="noopener"{% endif %}>
          {{ menu_item.name }}
        </a>
      </li>
    {% endfor %}
  </ul>

  {% comment %} <div class="flex flex-column px-4 pt-12 text-center">
    <h3 class="mt-0 mb-2 text-h6">
      Social Links
    </h3>

    <ul class="list-reset flex flex-column flex-justify-start mb-0 pb-2 text-small">
      {% for social in social %}
        <li class="inline-block mb-2">
          <a class="block" href="{{ social.url }}" target="_blank" rel="noopener">
            {{ social.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div> {% endcomment %}
</nav>
