<nav class="nav">
  <ul class="p-2 px-4 md--text-right flex flex-row md--flex-column flex-gap-1 flex-justify-between list-reset">
    {% for menu_item in menu %}
      {% if menu_item.link == page.url %}
        {% assign active_page = true %}
        {% assign current_page = true %}
      {% elsif page.url contains '/posts/' and menu_item.link == '/blog/' %}
        {% assign active_page = true %}
        {% assign current_page = false %}
      {% elsif page.url contains '/blog/' and menu_item.link contains '/blog/' %}
        {% assign active_page = true %}
        {% assign current_page = false %}
      {% elsif page.url contains '/tags/' and menu_item.link == '/blog/' %}
        {% assign active_page = true %}
        {% assign current_page = false %}
      {% else %}
        {% assign active_page = false %}
        {% assign current_page = false %}
      {% endif %}

      <li class="m-0 text-small {% if active_page %}font-weight-bold{% endif %}">
        <a {% if active_page %}aria-current="page"{% endif %} href="{{ menu_item.link }}">
          {{ menu_item.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
