{% assign header_class = "" %}

{% assign header_class = header_class | append: " header" %}

<header class="{{ header_class }} header--page width-100">
  <div class="header__text {% if banner_image %}transparent-white-bg{% endif %} py-6 resp-max-width">
    <div class="relative py-6">
      <h1 class="my-0">
        {{ title | replace: " - Maxwell Antonucci", "" }}
      </h1>

      {% if tagline %}
        <p class="mb-0 mt-2 text-1xl">
          {{ tagline }}
        </p>
      {% endif %}
    </div>
  </div>
</header>
