<header class="post-header flex flex-column flex-justify-center flex-gap-2">
  <small class="block font-weight-bold my-0">
    {{ date | toUTCString }}
  </small>

  <h1 class="flex flex-row flex-align-start flex-align-center flex-gap-4 sm--flex-gap-6 my-0">
    {% if link.url and link.title %}
      {% include "externalIcon.liquid"
        width: "60px",
        height: "60px"
      %}
    {% endif %}

    {{ title | replace: " - Maxwell Antonucci", "" }}
  </h1>

  {% if excerpt %}
    <p class="text-small font-weight-bold my-0">
      {{ excerpt }}
    </p>
  {% endif %}
</header>
