{% assign banner_image = metadata.post.imagePath | append: image %}

<div class="header header--post poke-color--text flex flex-column-reverse xl--flex-row flex-justify-end poke-background--bg {% if image %}poke-background--screen{% endif %} {% if no-min-image-height %}header--with-no-min-height{% endif %}">
  <div class="header__text header__text--post flex flex-column xl--flex-justify-center xl--my-6 py-4 resp-max-width my-6 slant-top-padding slant-bottom-padding">
    <div class="my-6">
      <div class="flex flex-justify-between mb-auto xl--mb-0">
        <small class="block mb-2 font-weight-bold">
          {{ date | toUTCString }}
        </small>

        <span class="hidden-md-down">
          {% include tagList
           tags: tags
           rightAlign: true %}
        </span>
      </div>

      <h1 class="flex flex-column sm--flex-row flex-align-start sm--flex-align-center flex-gap-4 sm--flex-gap-6 mt-2 mb-0">
        {% if link.url and link.title %}
          {% include externalIcon.liquid
           width: "75px",
           height: "75px" %}
        {% endif %}

        {{ title | replace: " - Maxwell Antonucci", "" }}
      </h1>

      {% if excerpt %}
        <p class="my-0 mt-4 text-small font-weight-light">
          {{ excerpt }}
        </p>
      {% endif %}
    </div>
  </div>

  {% if image %}
    <div class="header__image-wrapper absolute">
      <div class="header__image-gradient"></div>

      <img
        alt=""
        src="{{ banner_image }}"
        class="header__large-image flex-item" />
    </div>
  {% endif %}
</div>
