<ul class="{{classes}} list-reset flex flex-align-start flex-wrap {% if wrap %}flex-justify-center{% else %}sm--flex-nowrap{% endif %}">
  {% for tag in tags %}
    {% assign tagUrl = "/tags/" | append: tag %}
    <li class="tag mb-2 {% if wrap %}mx-1{% else %}mr-2 sm--mb-0{% endif %} bg-action-dark text-tiny border-radius-small">
      <a href="{{ tagUrl | url }}" class="upper no-underline text-action-lighter">
        {{ tag }}
      </a>
    </li>
  {% endfor %}
</ul>
