<ul class="{{classes}} list-reset flex flex-align-start flex-wrap {% if wrap %}flex-justify-center{% else %}sm--flex-nowrap{% endif %}" aria-label="Tag List">
  {% comment %} <span class="screenReader">
    Tag List
  </span> {% endcomment %}
  {% for tag in tags %}
    {% assign tagUrl = "/tags/" | append: tag %}
    <li class="tag mb-2 {% if wrap %}mx-1{% else %}{% if rightAlign %}ml-2{% else %}mr-2{% endif %} sm--mb-0{% endif %} bg-action-dark text-tiny border-radius-small">
      <a href="{{ tagUrl | url }}" class="upper no-underline text-action-lighter">
        {{ tag }}
      </a>
    </li>
  {% endfor %}
</ul>
