<ul class="tag-list {{classes}} list-reset flex flex-align-start flex-wrap flex-gap-2 {% if wrap %}flex-justify-center{% else %}sm--flex-nowrap{% endif %}" aria-label="Tag List">
  {% for tag in tags %}
    {% assign tagUrl = "/tags/" | append: tag %}
    <li class="tag mb-0 ml-2 bg-action-base text-tiny text-center border-radius-small">
      <a href="{{ tagUrl | url }}" class="upper no-underline text-mono-white">
        <span class="screenReader">
          Posts tagged
        </span>
        {{ tag }}
      </a>
    </li>
  {% endfor %}
</ul>
