{% assign nextLesson = collections.todayILearned | getPreviousCollectionItem: page %}
{% assign previousLesson = collections.todayILearned | getNextCollectionItem: page %}

<div class="height-100 flex flex-column">
  <ul class="list-reset m-0 p-0 flex flex-column xl--flex-row flex-gap-4">
    {% if nextLesson %}
      <li class="flex-item-full flex flex-column mb-0">
        <strong>Next Lesson:</strong>
        <a class="random-navigator__next-link text-small" href="{{ nextLesson.url | url }}">
          {{ nextLesson.data.title }}
        </a>
      </li>
    {% endif %}

    <li id="random-navigator-wrapper" class="random-navigator-wrapper--lesson hidden flex-item-full flex flex-column mb-0">
      <strong>Random Lesson:</strong>
      <a class="text-small" href="javascript:void();"></a>
    </li>

    {% if previousLesson %}
      <li class="flex-item-full flex flex-column mb-0">
        <strong>Previous Lesson:</strong>
        <a class="random-navigator__previous-link text-small" href="{{ previousLesson.url | url }}">
          {{ previousLesson.data.title }}
        </a>
      </li>
    {% endif %}
  </ul>
</div>
