---
layout: layouts/page.liquid
title: Now
tagline: Everything I'm doing right now, added right after it happens
---

<p>
  Work history and portfolios only tell someone so much. So here's some info about what I'm doing <strong>right now</strong>.
</p>

<h2>
  Coding
</h2>

<p>
  I'm working at AgileSix, a civic tech company that makes digital solutions for the United States federal government. I work on the front-end and back-end side of things for the Department of Veterans Affairs. For the front-end, I make final products stylish, responsive, and accessible. For the back-end, I refactor data and improve performance on the Ruby on Rails API, and also add and update new sources of info for veterans. My broader career goals are to keep learning more about JavaScript and Ruby (and SVG), and building more specialized knowledge of web accessibility and front-end architecture.
</p>

<p class="codepen" data-height="479" data-theme-id="light" data-default-tab="html,result" data-user="max1128" data-slug-hash="KKNpVGP" style="height: 479px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="SVG Coordinate-based Generative Art">
  <span>See the Pen <a href="https://codepen.io/max1128/pen/KKNpVGP">
  SVG Coordinate-based Generative Art</a> by Maxwell Antonucci (<a href="https://codepen.io/max1128">@max1128</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>

<p>
  My broad career goals right now are to keep building my full-stack skills. For the front-end, I'm always learning more JavaScript and am focusing especially on React and web accessibility. For the back-end, I love Ruby and am building more advanced experience with testing and Rails. I've also played with Python and the past and want to keep learning more of it for data science and machine learning.
</p>

<h2>
  Writing
</h2>

<p>
  I try to have at least one blog post in the works at any given time. They focus on everything from JavaScript, web accessibility, career lessons, personal reflections, random factual observations, or anything else I want to scribble about.
</p>

{% include postListing.liquid
  wrapper_class: "mb-8",
  posts: collections.posts,
  limit: 2 %}

<p>
  I don't have any long-term goals for my blogging. I do it because it helps me learn, express myself, and share this info with others. Plus, when I do it right, it's just fun. When I do it wrong...that's another matter.
</p>

<h2>
  Reading and Listening
</h2>

<p>
  Like so many people, I have a giant backlog of articles, podcasts, and fiction and nonfiction books I know I'll never get through. But this ensures I'll never have an excuse to be bored in the future, and I can accept this tradeoff.
</p>

<p>
  For coding knowledge, I try to follow lots of different sources. These include publications like <a href="https://css-tricks.com/">CSS Tricks</a>, <a href="https://alistapart.com/">A List Apart</a>, <a href="https://www.smashingmagazine.com/">Smashing Magazine</a>, and some prominent writers in those same spheres like <a href="https://adrianroselli.com/">Adrian Roselli</a>, <a href="https://heydonworks.com/">Heydon Pickering</a>, <a href="https://laurakalbag.com/">Laura Kalbag</a>, <a href="https://bradfrost.com/">Brad Frost</a>, and <a href="https://adactio.com/">Jeremy Keith</a>. I also subscribe to several front-end newsletters including <a href="https://css-weekly.com/">CSS Weekly</a>, <a href="https://a11yweekly.com/">A11y Weekly</a>, <a href="https://zendev.com/">ZenDev</a>, and <a href="https://responsivedesign.is/newsletter/">Responsive Web Design Weekly</a>. As for books, my favorite resources are <a href="https://abookapart.com/">A Book Apart</a>, <a href="https://pragprog.com/">The Pragmatic Bookshelf</a>, and <a href="https://www.smashingmagazine.com/printed-books/">Smashing Magazine Printed Books</a>.
</p>

{% comment %} <figure>
  <img src="/assets/images/now/books.jpg" alt="A selection of shelved coding books from A Book Apart, Smashing Magazine, and The Pragmatic Bookshelf.">
</figure> {% endcomment %}

<p>
  For books I read more for fun from stores or libraries, I've got far too long a list to share here. The ones I enjoy range from thrillers, fantasy dystopias, creative nonfiction, comforting romance novels (mainly Nora Roberts), and political satire.
</p>

<h2>
  Playing
</h2>

<p>
  When I've got some free time, I like doing big and small crafting projects with my Cricut like vinyl cutting, making signs, a little wood carving, and iron-on clothing designs. I've also been drawing since high school, and enjoy doing that when I'm bored or to keep track of what I'm learning from videos or meetings. And I've always got a couple of books in my tablet I'm waiting to keep reading.
</p>

<p>
  When I'm not doing any of that, I'm eating out at new restaurants, catching up on new television, and spending time with my wife.
</p>

<h2>
  Smuggling
</h2>

<p>
  I'm not telling if you're not asking. I'll only say the bunny isn't late yet.
</p>
