---
layout: layouts/page.liquid
title: Now
tagline: Everything I'm doing right now, added right after it happens
---

<p>
  Work history and portfolios only tell someone so much. So here's some info about what I'm doing <strong>right now</strong>.
</p>

<h2>
  Coding
</h2>

<p>
  I'm working at SeeClickFix, a civic tech app that lets citizens report municipal issues to local governments. I help develop and manage the front-end of the web apps. This includes managing our design system, bringing us in line with federal accessibility standards, and building out UIs for pages and components. I'm doing a lot more work in the back-end than I expected, especially with Ruby on Rails, but Ruby has still become one of my favorite programming languages. But most of my heart remains with the front-end.
</p>

<p>
  My broader career goals are to keep learning more about JavaScript, Ruby, and the larger architecture of the web and websites. My more specific ones are around WCAG 2.1 accessibility standards and the different ways sites can meet those standards, like with progressive web apps. I also want to learn more about GSAP animations and the Canvas API, but that's more for fun.
</p>

<p>
  One of the best ways I'm learning things is working them into the personal site you're reading right now. I'm trying to get my hands dirty with more new code and not limit myself to reading books and articles about code without actually using them.
</p>

<h2>
  Writing
</h2>

<p>
  I try to have at least one blog post in the works at any given time. They focus on everything from JavaScript, web accessibility, career lessons, personal reflections, random facts observations, or anything else. I enjoy the freedom to post anything I want on my website for any reason I want.
</p>

<p>
  I don't have any long-term goals for my blogging. I do it because it helps me build on and retain knowledge, and it helps share this info with others. Plus, when I do it right, it's just fun.
</p>

<p>
  When I do it wrong...that's another matter.
</p>

<h2>
  Reading and Listening
</h2>

{% comment %}
  Include links to all the resources!
{% endcomment %}

<p>
  Like so many people, I have a giant backlog of articles, podcasts, and fiction and nonfiction books I know I'll never get through. But this ensures I'll never have an excuse to be bored in the future, and I can accept this tradeoff.
</p>

<p>
  For coding knowledge, I try to follow lots of different sources. These include publications like <a href="https://css-tricks.com/">CSS Tricks</a>, <a href="https://alistapart.com/">A List Apart</a>, <a href="https://www.smashingmagazine.com/">Smashing Magazine</a>, and some prominent writers in those same spheres like <a href="https://adrianroselli.com/">Adrian Roselli</a>, <a href="https://heydonworks.com/">Heydon Pickering</a>, <a href="https://laurakalbag.com/">Laura Kalbag</a>, <a href="https://bradfrost.com/">Brad Frost</a>, and <a href="https://adactio.com/">Jeremy Keith</a>. I also subscribe to several front-end newsletters including <a href="https://css-weekly.com/">CSS Weekly</a>, <a href="https://a11yweekly.com/">A11y Weekly</a>, <a href="https://zendev.com/">ZenDev</a>, and <a href="https://responsivedesign.is/newsletter/">Responsive Web Design Weekly</a>. As for books, my favorite resources are <a href="https://abookapart.com/">A Book Apart</a>, <a href="https://pragprog.com/">The Pragmatic Bookshelf</a>, and <a href="https://www.smashingmagazine.com/printed-books/">Smashing Magazine Printed Books</a>.
</p>

<img class="post-content--partial-bleed" src="/assets/images/now/books.jpg" alt="A selection of shelved coding books from A Book Apart, Smashing Magazine, and The Pragmatic Bookshelf.">

<p>
  When it comes to news as a whole, I've become a major fan of several NPR programs. Some of my favorites are <a href="https://www.npr.org/sections/codeswitch/">Code Switch</a>, <a href="https://www.npr.org/podcasts/510333/throughline">Throughline</a>, <a href="https://www.npr.org/podcasts/510351/short-wave">Short Wave</a>, <a href="https://www.npr.org/lifekit">Life Kit</a>, <a href="https://www.npr.org/podcasts/452538775/on-the-media">On the Media</a>, and most of all, <a href="https://www.npr.org/programs/wait-wait-dont-tell-me/">Wait Wait Don't Tell Me</a>. For more "off the beaten path" podcasts, I enjoy <a href="https://darknetdiaries.com/">Darknet Diaries</a> and <a href="https://www.earwolf.com/show/factually-with-adam-conover/">Factually!</a> I also have a longtime subscription to <a href="https://www.blinkist.com/">Blinkist</a> for reading summaries of nonfiction from history to psychology to self-improvement.
</p>

<p>
  For books I read more for fun from stores or libraries, I've got far too long a list to share here. The ones I enjoy range from thrillers, fantasy dystopias, creative nonfiction, comforting romance novels (mainly Nora Roberts), and political satire.
</p>

<h2>
  Playing
</h2>

<p>
  The COVID-19 pandemic has limited my playtime quite a bit, as you, dear reader, have likely dealt with yourself. My main leisure activity these days is reading, since the Libby app makes it easy to check out a wide variety of eBooks from my library whenever I want. Free books you can get without needing to leave your home are a pandemic survivor's best friend.
</p>

<p>
  My second goof-off getaway these days is my Nintendo Switch. Most of my games are story-driven or visual novels, so they're not too different from books in the end. They're more like books with higher stakes on a big screen.
</p>

<p>
  Before the pandemic had its winter spike, in my spare time I often visited <a href="https://www.makehaven.org/" target="_blank">MakeHaven</a> to worked on craft and art projects. Most involve laser and vinyl cutting, and are nice ways to escape the computer screen for a while. The MakeHaven community is also amazing and supportive to all its makers.
</p>

<ul class="post-content--partial-bleed flex flex-column sm--flex-row sm--flex-wrap flex-align-center list-reset">
  {% for item in makehavenItems %}
    <li class="width-50 sm--width-33 p-2 mb-0">
      <img src="/assets/images/now/makehaven/{{ item.filename }}" alt="{{ item.altText }}">
    </li>
  {% endfor %}
</ul>

<h2>
  Living
</h2>

<p>
  I'm residing solo in a cozy New Haven apartment. I haven't been to the bookstores in a while, so I've been taken more advantage of the walking trails and local food stores.
</p>

<h2>
  Smuggling
</h2>

<p>
  I'm not telling if you're not asking. I'll only say the bunny isn't late yet.
</p>
