* { box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  font-weight: type(font-weight, base);
  font-family: type(font-family);
  color: color(mono, black);

  background-color: color(mono, white);

  transition-duration: 0s;

  @include larger-than(md) {
    font-size: 110%;
  }

  @include larger-than(lg) {
    font-size: 115%;
  }
}

a:focus {
  outline: 2px solid color(action, base);
  outline-offset: 2px;
}
