$highlight-languages: (
  'html': #ff977d,
  'handlebars': #fda,
  'markdown': #332d31,
  'css': #053bb9,
  'scss': #bf4080,
  'javascript': #f7df1e,
  'jsx': #1ee9f7,
  'typescript': #007acd,
  'json': #fcf4a3,
  'yaml': #be93d4,
  'ruby': #a91401,
  'bash': #aaa
);

.token.entity {
	cursor: help;
}

code, pre {
	font-size: 14px;
	line-height: 1.375;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre > code.highlight {
	outline: 0.4em solid #f92672;
	outline-offset: .4em;
}

// inline code
:not(pre) > code {
  padding: 3px 4px;

  font-size: type(font-size, small);

  border-radius: .3em;
  background-color: color(mono, muted);
}

// block code wrapper
pre {
  display: flex;
  position: relative;
  padding: spacing(4) spacing(2);
  margin-top: 0;
  margin-right: var(--pre-x-margin);
  margin-bottom: spacing(6);
  margin-left: var(--pre-x-margin);
  align-items: center;

  box-shadow: container(box-shadow, 1);
  border-top: 2px solid color(primary, base);
  border-bottom: 2px solid color(primary, base);
}

// block code
pre code {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 3rem 0 1.2rem;
  max-height: rem(500px);

  font-size: type(font-size, small);

  overflow: scroll;
  width: calc(100% - #{spacing(8)});
  max-width: 100%;

  @include larger-than(contentMin) {
    width: clamp(
      calc(#{$g-content-min-width} - #{spacing(8)}),
      calc(#{$g-content-med-width} - #{spacing(8)}),
      calc(#{$g-content-max-width} - #{spacing(8)})
    );
  }

  &::before,
  &::after {
    top: 0;
    left: 0;
  }

  &::before {
    --code-name-border-color: #{color(primary, dark)};

    content: 'Code';
    position: absolute;
    padding: 0 spacing(6) spacing(border) 0;

    color: color(mono, black);
    text-transform: uppercase;
    font-size: type(font-size, small);
    font-weight: type(font-weight, bold);

    border-bottom: 2px solid var(--code-name-border-color);

    z-index: 2;
  }
}

pre:nth-of-type(even) {
  code::before,
  code::after { top: spacing(2); }
}

// Block code for specific languages
@each $language, $color in $highlight-languages {
  $text-color: '';

  @if (lightness($color) > 50) {
    $text-color: #000;
  } @else {
    $text-color: #FFF;
  }

  pre.language-#{$language} {
    border-color: $color;

    code.language-#{$language} {
      &::before {
        --code-name-border-color: #{$color};
        content: $language;
      }
    }
  }
}

// Code base text and background colors
pre {
  color: color(mono, black);
  background-color: color(mono, muted);
}

// Prism Token Styles
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #839496;
}

.token.punctuation {
  color: #586e75;
}

.namespace {
  opacity: .7;
}

.token.null,
.token.operator,
.token.boolean,
.token.number {
  color: #cb4b16;
}
.token.property {
  color: #b58900;
}
.token.tag {
  color: #268bd2;
}
.token.string {
  color: #2aa198;
}
.token.selector {
  color: #6c71c4;
}
.token.attr-name {
  color: #cb4b16;
}
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #2aa198;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #859900;
}

.token.statement,
.token.regex,
.token.atrule {
  color: #2aa198;
}

.token.placeholder,
.token.variable {
  color: #268bd2;
}

.token.important {
  color: #dc322f;
  font-weight: bold;
}

@include darkMode() {
  .token.comment, .token.prolog, .token.doctype, .token.cdata {
    color: #75715e;
  }
  .token.punctuation {
    color: #f8f8f2;
  }
  .token.namespace {
    opacity: .7;
  }
  .token.operator, .token.boolean, .token.number {
    color: #fd971f;
  }
  .token.property {
    color: #f4bf75;
  }
  .token.tag {
    color: #66d9ef;
  }
  .token.string {
    color: #a1efe4;
  }
  .token.selector {
    color: #ae81ff;
  }
  .token.attr-name {
    color: #fd971f;
  }
  .token.entity, .token.url, .language-css .token.string, .style .token.string {
    color: #a1efe4;
  }
  .token.attr-value, .token.keyword, .token.control, .token.directive, .token.unit {
    color: #a6e22e;
  }
  .token.statement, .token.regex, .token.atrule {
    color: #a1efe4;
  }
  .token.placeholder, .token.variable {
    color: #66d9ef;
  }
  .token.deleted {
    text-decoration: line-through;
  }
  .token.inserted {
    border-bottom: 1px dotted #f9f8f5;
    text-decoration: none;
  }
  .token.italic {
    font-style: italic;
  }
  .token.important, .token.bold {
    font-weight: bold;
  }
  .token.important {
    color: #f92672;
  }
}
