body {
  display: flex;
  flex-direction: column;
}

.resp-max-width {
  margin-right: auto;
  margin-left: auto;
  padding-right: spacing();
  padding-left: spacing();
  width: clamp($g-content-min-width, $g-content-med-width, $g-content-max-width);
  max-width: 100%;
}

.resp-max-width--large {
  width: $g-content-max-width-large;
}

footer {
  background-color: color(mono, muted);

  &.footer--white,
  aside + & {
    background-color: color(mono, white);
  }
}

aside {
  background-color: color(mono, muted);
}
