body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.resp-max-width {
  width: 100%;
  margin: 0 auto;
  padding-right: spacing();
  padding-left: spacing();
  max-width: breakpoint(md);

  @include larger-than(xl) {
    max-width: breakpoint(lg);
  }
}
