$layout-side-col-width: 215px;

body {
  display: grid;
  grid-template-areas:
    "nav"
    "header"
    "content"
    "side"
    "footer";

  grid-template-columns: 1fr;
  min-height: 100vh;

  @include larger-than(grail) {
    grid-template-areas:
      "header header header"
      "nav content side"
      "footer footer footer";

    grid-template-columns: $layout-side-col-width 1fr $layout-side-col-width;
    grid-template-rows: auto 1fr auto;
  }
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: content;
}

aside {
  grid-area: side;
}

footer {
  grid-area: footer;
}

.main--with-custom-image {
  @include larger-than(grail) {
    margin-top: 6.5rem;
  }
}

.resp-max-width {
  width: 100%;
  margin: 0 auto;
  padding-right: spacing();
  padding-left: spacing();
  max-width: breakpoint(md);

  @include larger-than(xl) {
    max-width: breakpoint(lg);
  }

  @include larger-than(grail) {
    padding-right: spacing(6);
    padding-left: spacing(6);
  }
}
