:root {
  --poke-text-color: #181820;
  --poke-background-color: #6AF6FF;
}

$poke-colors: (
  // Jolteon
  0:
    (
      dark: #5a2c1a,
      light: #f5f593
    ),
  // Altaria
  1:
    (
      dark: #0b6b8e,
      light: #f1f1f9
    ),
  // Charizard
  2:
    (
      dark: #084152,
      light: #eeb45a
    ),
  // Espeon
  3:
    (
      dark: #314173,
      light: #eebdee
    ),
  // Umbreon
  4:
    (
      dark: #02020f,
      light: #eed552
    ),
  // Jirachi
  5:
    (
      dark: #2a6a79,
      light: #ffea70
    ),
  // Leafeon
  6:
    (
      dark: #453321,
      light: #8acca5
    ),
  // Chandelure
  7:
    (
      dark: #3d27aa,
      light: #c8bef9
    ),
  // Mewtwo
  8:
    (
      dark: #521786,
      light: #ded5e6
    ),
  // Blaziken
  9:
    (
      dark: #7e2525,
      light: #f8c47b
    ),
  // Ivysaur
  10:
    (
      dark: #265e40,
      light: #ffbab3
    ),
  // Gallade
  11:
    (
      dark: #314e4e,
      light: #c9e7df
    ),
  // Flygon
  12:
    (
      dark: #7a2932,
      light: #9bffa2
    ),
  // Zekrom
  13:
    (
      dark: #1d1d27,
      light: #6af6ff
    ),
  // Porygon-Z
  14:
    (
      dark: #313962,
      light: #f99fa2
    ),
  // Eevee
  15:
    (
      dark: #51301f,
      light: #cebaa1
    ),
  // Dragonite
  16:
    (
      dark: #186a62,
      light: #f9d495
    ),
  // Misdreavus
  17:
    (
      dark: #772c39,
      light: #9cc5d3
    ),
  // Froslass
  18:
    (
      dark: #6b2e99,
      light: #c8d0df
    ),
  // Meganium
  19:
    (
      dark: #cd2039,
      light: #d1ffa3
    ),
  // Crobat
  20:
    (
      dark: #58176d,
      light: #8dc6e7
    ),
  // Skarmory
  21:
    (
      dark: #9f283c,
      light: #c8d5ea
    ),
  // Archeops
  22:
    (
      dark: #075f50,
      light: #b2cffa
    ),
  // Audino
  23:
    (
      dark: #bb3e49,
      light: #fcefca
    ),
  // Infernape
  24:
    (
      dark: #1b4888,
      light: #f9ac7b
    )
);


// Default poke List stylings
@each $index, $styles in $poke-colors {
$dark: map-get($styles, dark);
$light: map-get($styles, light);


  .poke-coloring--#{$index} {
    --poke-text-color: #{$dark};
    --poke-background-color: #{$light};
  }

  @include darkMode() {
    .poke-coloring--#{$index} {
      --poke-text-color: #{$light};
      --poke-background-color: #{$dark};
    }
  }
}

.poke-border--text {
  border-color: var(--poke-text-color);
}

.poke-border--bg {
  border-color: var(--poke-background-color);
}

.poke-color--text {
  color: var(--poke-text-color);
  fill: var(--poke-text-color);
}

.poke-color--bg {
  color: var(--poke-background-color);
  fill: var(--poke-background-color);
}

.poke-background--text {
  background: var(--poke-text-color);
}

.poke-background--bg {
  background: var(--poke-background-color);
}

.poke-background--screen {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: var(--poke-background-color);

    opacity: 0.6;
  }
}
