@use "./../_tools/_layout" as *;
@use "./../_tools/_calc" as *;
@use "./../_settings/_colors-settings" as *;
@use "./../_settings/_layout-settings" as *;
@use "./../_settings/_typography-settings" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: strip-unit(type(line-height, tight));
  margin: spacing(10) 0 spacing();
  font-family: type(font-family, header);
  font-weight: type(font-weight, header);
  color: myColor(primary, dark);
}

p,
ol,
ul,
small,
tiny {
  margin-bottom: spacing(6);

  line-height: strip-unit(type(line-height, normal));
}

ol,
ul {
  margin-top: 0;
  padding-left: spacing(6);

  @include larger-than(md) {
    padding-left: spacing(8);
  }

  ul,
  ol {
    margin-top: spacing();
  }
}

strong {
  font-weight: type(font-weight, bold);
}

li {
  margin-bottom: spacing(2);

  font-size: type(font-size, p);

  p {
    margin-bottom: 0;
  }
}

p {
  margin-top: 0;
}

a {
  color: myColor(action);

  &:focus {
    outline: 2px solid myColor(action, base);
    outline-offset: 2px;
  }
}

hr {
  height: 3px;
  margin: spacing(6) 0;

  background-color: myColor(primary, dark);
}
