<div class="callout flex my-4 md--my-6 lg--my-10 border-radius-large box-shadow-2 bg-primary-dark italic">
    <div aria-hidden="true" class="callout__icon-wrapper flex flex-center p-4 md--p-6">
        {% include './icons/bullhorn.liquid'
            size: '100px',
            class: 'callout__icon fill-primary-dark'
        %}
    </div>

    <div class="callout__content-wrapper"><div class="callout__content-wrapper-color p-4 md--p-6 lg--p-8 bg-mono-muted border-radius-base"><{{header}} class="mt-0">{{title}}</{{header}}><div class="callout__content">{{content}}</div></div></div>
</div>
