---
layout: layouts/page.liquid
title: Blog
tagline: Musings written down for safekeeping
pagination:
  data: collections.posts
  size: 12
  alias: posts
---

<div class="text-center mb-12">
  <a href="/rss.xml" class="inline-block px-6 py-2 bg-primary-dark text-mono-white border-radius-base box-shadow-1 font-weight-bold">
    Subscribe via RSS
  </a>
</div>

{% include postListing
  posts: posts
%}

{% if pagination and hidePagination != true %}
  {% include pagination.liquid %}
{% endif %}
