---
layout: layouts/page.liquid
title: Portfolio
tagline: Code samples and projects
---

<p>
  Like most programmers, my portfolio is a mixture of code for work, practicing new skills, and expressing myself. Feel free to browse below!
</p>

<p>
  <strong>Disclaimer:</strong> I can't show code samples from all of my jobs here. Some are either proprietary or just not easily reached by any old web browser. If you're still curious about my career work, check out <a href="http://codepen.io/max1128/">my CodePen page</a> and <a href="https://www.linkedin.com/in/maxwellantonucci/">my LinkedIn page.</a>
</p>

{% for workCollection in work %}
  {% assign workSection = work[forloop.index0] %}

  <h2>
    {{ workSection.type }}
  </h2>

  <section class="flex flex-wrap flex-justify-center flex-gap-4">
    {% for workItem in workSection.work %}
      {% include workItem.liquid
        workItem: workItem %}
    {% endfor %}
  </section>

  <br />
  <br />
{% endfor %}
