@use "./../_settings/_colors-settings" as *;
@use "./../_settings/_containers-settings" as *;
@use "./../_settings/_layout-settings" as *;
@use "./../_settings/_typography-settings" as *;
@use "./../_tools/_layout" as *;

blockquote {
  padding: spacing();
  margin: spacing(2) 0 spacing(6);

  font-style: italic;

  background-color: myColor(mono, muted);
  box-shadow: container(box-shadow, 2);
  border-left: spacing(2) solid myColor(primary, base);

  p {
    margin: 0;
  }

  @include larger-than(md) {
    padding: spacing() spacing(6);

    p {
      font-size: type(font-size, large);
    }
  }
}

.twitter-tweet {
  margin: 0 auto spacing(6) !important;
}
