blockquote {
  padding: spacing();
  margin: spacing(4) 0;

  font-style: italic;

  border-left: spacing(2) solid color(primary, base);

  p {
    margin: 0;
  }

  @include larger-than(md) {
    padding: spacing() spacing(6);

    p {
      font-size: type(font-size, large);
    }
  }
}

.twitter-tweet {
  margin: 0 auto 1rem;
}
