.book__title {
  border-left: spacing(border) solid color(primary, base);
}

.book__author {
  border-right: spacing(border) solid color(primary, base);
}

.book__image {
  min-width: 100%;

  border-right: spacing(border) solid color(primary, base);
  border-left: spacing(border) solid color(primary, base);
}

.now-books__item {
  width: 100%;
  max-width: clamp(150px, 40vw, 200px);
}
