.book__list-item {
  width: 100%;
  max-width: #{'min(45vw, 250px)'};

  @include larger-than(md) {
    max-width: #{'min(23vw, 200px)'};
  }
}

.book__title {
  border-left: spacing(border) solid color(primary, base);

  a {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.book__author {
  border-right: spacing(border) solid color(primary, base);
}

.book__image {
  min-width: 100%;

  border-right: spacing(border) solid color(primary, base);
  border-left: spacing(border) solid color(primary, base);
}
