.book__title {
  border-left: spacing(border) solid color(primary, base);
}

.book__author {
  border-right: spacing(border) solid color(primary, base);
}

.book__image {
  min-width: 100%;

  border-right: spacing(border) solid color(primary, base);
  border-left: spacing(border) solid color(primary, base);
}

.now-books__item {
  flex: 1 1 150px;
  max-width: 200px;
}
