.celebrations-layout {
  padding: spacing();
  margin: 0 auto;
  max-width: breakpoint(xxl);
}

@supports (display: grid) {
  .celebrations-layout {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr;
    grid-gap: spacing();
  }

  .celebrations-layout__item {
    grid-column: span 1;
    grid-row: span 1;

    @include larger-than(md) {
      &:after {
        content: '';
      }

      &:nth-of-type(3n+1) {
        transform: rotate(1.1deg);
      }

      &:nth-of-type(4n-2) {
        transform: rotate(-1.1deg);
      }

      &:nth-of-type(5n+2) {
        transform: scale(0.975);
      }

      &:nth-of-type(6n-1) {
        transform: scale(1.025);
      }
    }
  }

  @include larger-than(sm) {
    .celebrations-layout {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .celebrations-layout__item--big-deal,
    .celebrations-layout__item--code-project {
      grid-column: span 2;
    }
  }

  @include larger-than(xl) {
    .celebrations-layout__item--event {
      grid-column: span 2;
    }

    .celebrations-layout__item--big-deal,
    .celebrations-layout__item:nth-of-type(10n+2) {
      grid-column: span 2;
      grid-row: span 2;
      min-height: 25rem;
    }
  }
}
