@use "./../_settings/_colors-settings" as *;
@use "./../_tools/_calc" as *;

.contact-list__item {
  flex: 1 1 myRem(275px);
  max-width: 450px;

  border-left: 3px solid myColor(mono, black);

  &::before {
    content: none !important;
  }
}

.contact-list__svg-wrapper {
  min-width: 75px;
  max-width: 75px;
}

.contact-list__svg {
  flex: 0 0 75px;
  fill: myColor(mono, black) !important;

  svg,
  path,
  g {
    fill: myColor(mono, black) !important;
  }
}
