$doodle-opacity: 0.09;

.doodle-wrapper {
  position: relative;
  max-height: 100%;
  overflow: hidden;
}

.doodle-container {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;

  width: #{'min(50vw, 550px)'};

  overflow: hidden;
  opacity: $doodle-opacity;
  z-index: -1;

  &:not(.doodle-container--right) {
    @include larger-than(xxl) { left: 2.5vw; }
  }
}

.doodle-container--right {
  right: 0;
  left: auto;

  width: #{'min(30vw, 400px)'};

  display: none;

  @include larger-than(lg) { display: block; }

  @include larger-than(xxl) { right: 2.5vw; }
}

.doodle {
  width: 100%;
  padding: spacing(4) spacing(4) spacing(2);
  max-height: 55vh;

  fill: var(--poke-text-color);
}

.doodle__header,
.doodle__listing {
  position: relative;

  .doodle__wrapper {
    position: absolute;
    top: -5vh;
    right: 0;
    bottom: -5vh;
    left: 0;
  }

  .doodle {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.doodle__listing {
  .doodle {
    opacity: $doodle-opacity * 3;
  }
}

.doodle__header {
  .doodle {
    opacity: 0;

    @include larger-than(md) {
      opacity: $doodle-opacity;
    }
  }

  .doodle__wrapper {
    @include larger-than(lg) {
      right: 2.5vw;
    }
  }
}
