@use "./../_settings/_typography-settings" as *;

body {
  counter-reset: footnotes;
}

.Footnotes {
  padding: spacing(2) 0 0;
}

.Footnotes__title {
  font-size: type(font-size, h3);
}

.Footnotes__ref[role='doc-noteref']::after {
  content: '[' counter(footnotes) ']';
  margin-left: 2px;

  font-size: type(font-size, tiny);
  text-decoration: underline;

  counter-increment: footnotes;
  vertical-align: super;
  cursor: pointer;
}

.Footnotes__list-item {
  font-size: type(font-size, small);
}
