$header-box-shadow-inset-opacity: 0.9;

.header {
  box-shadow: container(box-shadow, 2);
  background-position: center;
  background-size: cover;
  background-image: url("/assets/images/global/header-default.jpg");
  background-color: color(primary, light);
  box-shadow: inset 0 0 0 1000px rgba(169, 226, 243, $header-box-shadow-inset-opacity);
}

.header--with-custom-image {
  .header__text {
    @include larger-than(lg) {
      min-height: 40vh;
    }

    @include larger-than(xxl) {
      min-height: 45vh;
    }
  }
}

@include darkMode() {
  .header {
    background-image: url("/assets/images/global/header-dark.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0, 15, 35, $header-box-shadow-inset-opacity);
  }
}
