.top-header {
  z-index: 2;
}

.header--page {
  padding-top: 0;
  padding-bottom: 0;

  box-shadow: container(box-shadow, 2);

  @include larger-than(xl) {
    padding-top: var(--slant-padding);
    padding-bottom: var(--slant-padding);
  }
}

.header__text {
  z-index: 1;
}

.header__text--post {
  @include larger-than(xl) {
    padding-top: var(--slant-padding);
    padding-bottom: var(--slant-padding);
  }
}

.header__text--post-with-image {
  padding-bottom: var(--slant-padding);

  z-index: 1;

  @include larger-than(xl) {
    width: #{"max(45%, 450px)"};
    padding-right: spacing(8);
    padding-left: spacing(8);
  }
}

.header,
.header__large-image {
  background-position: center;
  background-size: cover;
}

.header__large-image {
  height: #{"max(175px, 30vh)"};

  @include larger-than(xl) {
    height: auto;
  }
}
