@use "./../_tools/_layout" as *;
@use "./../_settings/_containers-settings" as *;

.logo {
  width: 200px;
  height: 200px;
  max-width: 200px;
  float: left;

  box-shadow: container(box-shadow, 2);

  @include smaller-than(sm) {
    float: none;
    display: block;
  }

  @include larger-than(sm) {
    display: inline-block;
  }
}
