.nav {
  @include larger-than(md) {
    position: absolute;
    top: 0;
    right: 0;
  }

  li {
    font-size: type(font-size, small);

    @include larger-than(md) {
      font-size: type(font-size, p);
    }
  }
}
