.nav__main-menu {
  overflow-x: scroll;

  font-size: type(font-size, small);
}

.nav__main-menu-wrapper {
  @include larger-than(md) {
    border-top: 1px solid color(primary, lighter);
    border-bottom: 1px solid color(primary, lighter);
    background-color: color(primary, darker);
  }
}

.nav__toggle-menu {
  display: none;

  font-size: type(font-size, small);

  border-width: 0;
}

.theme-dark {
  .nav__header {
    --color-primary-darkest: #{color(primary, lightest)};
    --color-primary-darker: #{color(primary, lighter)};

    --color-mono-black: #{color(mono, white)};
    --color-mono-white: #{color(mono, black)};
  }
}
