.note-styler {
  position: relative;
  padding-bottom: var(--slant-padding);

  color: var(--poke-text-color);
  border-color: var(--poke-text-color);
  background-color: var(--poke-background-color);

  a {
    color: var(--poke-text-color);
  }

  blockquote {
    color: var(--poke-background-color);
    background-color: var(--poke-text-color);

    a {
      color: var(--poke-background-color);
    }
  }

  &:nth-of-type(even) {
    @include create-slant-effect('top', 'left');
  }

  &:nth-of-type(odd) {
    @include create-slant-effect('top', 'right');
    padding-top: spacing();
  }
}

.notes-collection--flip-angles .note-styler {
  &:nth-of-type(even) {
    @include create-slant-effect('top', 'right');
    padding-top: spacing();
  }

  &:nth-of-type(odd) {
    @include create-slant-effect('top', 'left');
    padding-top: 0;
  }
}

.note-styler--page {
  min-height: 50vh;
}

.note-doodle-wrapper {
  position: relative;
  max-height: 100%;
  overflow: hidden;
}

.note-doodle-container {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;

  width: #{'min(50vw, 550px)'};

  overflow: hidden;
  opacity: 0.075;
  z-index: -1;

  &:not(.note-doodle-container--right) {
    @include larger-than(xxl) { left: 2.5vw; }
  }
}

.note-doodle-container--right {
  right: 0;
  left: auto;

  width: #{'min(30vw, 400px)'};

  display: none;

  @include larger-than(lg) { display: block; }

  @include larger-than(xxl) { right: 2.5vw; }
}

.note-doodle {
  width: 100%;
  padding: spacing(4) spacing(4) spacing(2);
  max-height: 55vh;

  fill: var(--poke-text-color);
}
