:root {
  --note-text-color: #181820;
  --note-background-color: #6AF6FF;
}

$note-colors: (
  // Jolteon
  0: (
    dark: #5a2c1a,
    light: #f5f593
  ),
  // Uxie
  1: (
     dark: #8d3a4f,
     light: #ffde9c
   ),
   // Charizard
   2: (
     dark: #084152,
     light: #eeb45a
   ),
   // Espeon
   3: (
     dark: #314173,
     light: #eebdee
   ),
   // Umbreon
   4: (
     dark: #02020f,
     light: #eed552
   ),
   // Zoroark
   5: (
     dark: #202031,
     light: #e6d8d8
   ),
   // Leafeon
   6: (
     dark: #254e47,
     light: #f3dca7
   ),
   // Chandelure
   7: (
     dark: #3d27aa,
     light: #c8bef9
   ),
   // Mewtwo
   8: (
     dark: #521786,
     light: #ded5e6
   ),
   // Blaziken
   9: (
     dark: #7e2525,
     light: #f8c47b
   ),
   // Ivysaur
   10: (
     dark: #104a39,
     light: #fabbb6
   ),
   // Gallade
   11: (
     dark: #314e4e,
    light: #c9e7df
   ),
   // Flygon
   12: (
     dark: #7a2932,
    light: #9bffa2
   ),
   // Zekrom
   13: (
     dark: #1d1d27,
     light: #6af6ff
   ),
   // Porygon-Z
   14: (
     dark: #753354,
     light: #a8dfff
   )
);

// Default Note List stylings
@each $index, $styles in $note-colors {
  $dark: map-get($styles, dark);
  $light: map-get($styles, light);


  .note-coloring--#{$index} {
    --note-text-color: #{$dark};
    --note-background-color: #{$light};
  }

  @include darkMode() {
    .note-coloring--#{$index} {
      --note-text-color: #{$light};
      --note-background-color: #{$dark};
    }
  }
}

.note-styler {
  position: relative;
  padding-bottom: var(--slant-padding);

  color: var(--note-text-color);
  border-color: var(--note-text-color);
  background-color: var(--note-background-color);

  a {
    color: var(--note-text-color);
  }

  blockquote {
    color: var(--note-background-color);
    background-color: var(--note-text-color);

    a {
      color: var(--note-background-color);
    }
  }

  &:nth-of-type(even) {
    @include create-slant-effect('top', 'left');
  }

  &:nth-of-type(odd) {
    @include create-slant-effect('top', 'right');
    padding-top: spacing();
  }
}

.notes-collection--flip-angles .note-styler {
  &:nth-of-type(even) {
    @include create-slant-effect('top', 'right');
    padding-top: spacing();
  }

  &:nth-of-type(odd) {
    @include create-slant-effect('top', 'left');
    padding-top: 0;
  }
}

.note-styler--page {
  min-height: 50vh;
}

.note-doodle-wrapper {
  position: relative;
  max-height: 100%;
  overflow: hidden;
}

.note-doodle-container {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;

  width: #{'min(50vw, 550px)'};

  overflow: hidden;
  opacity: 0.075;
  z-index: -1;

  &:not(.note-doodle-container--right) {
    @include larger-than(xxl) { left: 2.5vw; }
  }
}

.note-doodle-container--right {
  right: 0;
  left: auto;

  width: #{'min(30vw, 400px)'};

  display: none;

  @include larger-than(lg) { display: block; }

  @include larger-than(xxl) { right: 2.5vw; }
}

.note-doodle {
  width: 100%;
  padding: spacing(4) spacing(4) spacing(2);
  max-height: 55vh;

  fill: var(--note-text-color);
}
