.pagination-link {
  display: flex;
  width: 33px;
  height: 33px;
  align-items: center;
  justify-content: center;

  box-shadow: container(box-shadow, 1);
  border: 1px solid color(action, dark);
  border-radius: container(border-radius, circle);
}

.pagination-link--current {
  color: color(mono, white);

  background-color: color(action, dark);
}
