@use "./../_settings/_colors-settings" as *;
@use "./../_settings/_containers-settings" as *;

.pagination-link {
  display: flex;
  width: 33px;
  height: 33px;
  align-items: center;
  justify-content: center;

  border: 1px solid myColor(action);
  box-shadow: container(box-shadow, 1);
  background-color: myColor(mono, white);
  border-radius: container(border-radius, circle);
}

.pagination-link--current {
  color: myColor(mono, white);

  background-color: myColor(action);
}
