.direct-link { display: none; }

.post-content {
  padding-top: spacing(4);
  padding-bottom: spacing(4);

  &.post-content--listing {
    padding-top: 0;
    padding-bottom: 0;
  }

  @include larger-than(sm) {
    padding-top: spacing(6);
    padding-bottom: spacing(6);
  }

  @supports (display: grid) {
    display: grid;
    grid-template-columns:
      1fr
      #{"min(#{$g-content-max-width}, calc(100% - #{spacing(6)}))"}
      1fr;

    & > * {
      grid-column: 2;
    }

    pre,
    .post-content--full-bleed,
    .post-content--partial-bleed,
    .cp_embed_wrapper {
      width: 100%;
      grid-column: 1 / -1;
    }

    // pre,
    .post-content--partial-bleed,
    .cp_embed_wrapper {
      margin-right: auto;
      margin-left: auto;
      max-width: breakpoint(xl);
    }

    .post-content--full-bleed,
    .post-content--partial-bleed,
    .cp_embed_wrapper {
      margin-top: spacing(4);
      margin-bottom: spacing(8);

      &.post-content--full-bleed--no-mt {
        margin-top: 0;
      }

      &.post-content--full-bleed--no-mb {
        margin-bottom: 0;
      }
    }
  }
}

@supports not (display: grid) {
  .post-content {
    width: 100%;
    max-width: $g-content-max-width;
    margin-right: auto;
    margin-left: auto;
  }
}
