.post-listing__thumbnail {
  position: absolute;
  top: -1rem;
  bottom: -1rem;
  width: 100%;

  background-image: url("/assets/images/global/header-default.jpg");
  background-size: cover;
  background-position: center;

  z-index: -1;
  opacity: 0.7;

  .post-listing:nth-of-type(odd) & {
    right: -5rem;
    clip-path: polygon(0% 0%, 100% 25%, 100% 75%, 0% 100%);
  }

  .post-listing:nth-of-type(even) & {
    left: -5rem;
    clip-path: polygon(0% 25%, 100% 0%, 100% 100%, 0% 75%);
  }

  @include larger-than(md) {
    width: 50%;
  }
}

.post-listing__article {
  margin: 0 spacing(neg4);
  background-color: rgba(221, 247, 255, 0.925);

  .post-listing:nth-of-type(odd) & {
    text-align: right;

    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 90%);

    .tag-list {
      flex-direction: row-reverse;
    }
  }

  .post-listing:nth-of-type(even) & {
    clip-path: polygon(0% 0%, 100% 10%, 100% 90%, 0% 100%);
  }

  @include larger-than(md) {
    margin: 0;

    .post-listing:nth-of-type(even) & {
      margin-left: 15%;
    }

    .post-listing:nth-of-type(odd) & {
      margin-right: 15%;
    }
  }
}

@include darkMode() {
  .post-listing__thumbnail {
    background-image: url("/assets/images/global/header-dark.jpg");
  }

  .post-listing__article {
    background-color: rgba(0, 15, 35, 0.9);
  }
}
