table {
  width: 100%;
  margin-bottom: spacing();

  text-align: left;

  border-spacing: 0;
  border-collapse: separate;

  th {
    font-weight: type(font-weight, bold);
  }

  th,
  td {
    padding: spacing(1);

    border: 1px solid color(mono, black);
  }
}

.table--with-js {
  display: table;
  margin-bottom: 0;

  border: 1px solid color(mono, black);
  background-color: color(primary, lightest);
}

.table-wrapper {
  margin-bottom: spacing();

  overflow-x: scroll;
}
