$tag-side-size: 22px;
$tag-dot-size: $tag-side-size / 4;

.tag:not(.token) {
  position: relative;
  padding: 2px 7px 2px $tag-side-size;

  z-index: 1;
  clip-path: polygon(0% 50%, $tag-side-size 100%, 100% 100%, 100% 0%, $tag-side-size 0%);

  a {
    outline-color: color(mono, white);
    outline-offset: 0;
  }

  &::after {
    content: '';
    position: absolute;
    top: calc(50% - (#{$tag-dot-size} / 2));
    left: calc((#{$tag-side-size} / 2) - (#{$tag-dot-size} / 10));
    width: $tag-dot-size;
    height: $tag-dot-size;

    border-radius: 100%;
    background-color: color(mono, white);

    z-index: 2;
  }
}
