#under-construction {
  --color-primary-dark: #31739c;
  --color-primary-base: #4a9cd5;
  --color-primary-light: #8bd5ff;
  --color-action-base: #E71D27;
  --color-mono-black: #000000;
  --color-mono-muted: #e8fbff;
  --color-mono-white: #FFFEFC;

  --g-box-shadow-shade-1: rgba(22, 22, 33, 0.1);
  --g-box-shadow-shade-2: rgba(22, 22, 33, 0.14);
  --g-box-shadow-shade-3: rgba(22, 22, 33, 0.18);
  --g-box-shadow-shade-4: rgba(22, 22, 33, 0.22);
  --g-box-shadow-shade-5: rgba(22, 22, 33, 0.26);

  --font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
  --font-family-header: Gill Sans, Gill Sans MT, Lucida Sans, Verdana, sans-serif;

  background-color: #f4fefd;

  max-width: clamp(
    calc(#{$g-content-min-width} - #{spacing(8)}),
    calc(#{$g-content-med-width} - #{spacing(8)}),
    calc(#{$g-content-max-width} - #{spacing(8)})
  );

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .new-color {
    color: #02777b;
  }

  p {
    font-weight: 400;
  }

  .under-construction__header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-columns: repeat(1, auto);
    grid-gap: 0.5rem;
    align-items: center;
    justify-items: center;

  }

  .coordinates-wrapper {
    display: flex;
    height: calc(50vh - 20px);
    align-items: center;
    justify-content: center;

    z-index: -1;
    opacity: 0.4;
    grid-column: 1 / span 12;
    grid-row: 1 / 2;

    @include larger-than(xl) {
      grid-column: 4 / 9
    }
  }

  .coordinates {
    width: 100%;
    height: 100%;
  }

  .opening-text {
    margin-top: 0;
    margin-bottom: var(--spacing-6);

    color: var(--color-mono-black);
    font-weight: 400;
    font-family: "Georgia", sans-serif;
    line-height: var(--line-height-normal);

    z-index: 2;
    grid-column: 1 / span 12;
    grid-row: 1 / 2;

    @include larger-than(xl) {
      grid-column: 1 / 6
    }
  }

  .opening-text--functional {
    font-family: "Beiruti", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-size: 108%;
    font-style: normal;
  }

  .opening-text--pretty {
    font-size: 95%;

    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .logo {
    @include smaller-than(sm) {
      float: none;
    }

    width: 200px;
    height: 200px;
    max-width: 200px;
    float: left;
  }

  .work-article {
    flex: 1 1 19rem;
  }

  .work-image {
    width: 100%;
    height: 14rem;

    background-size: cover;
    background-position: center;
  }

  .work-text {
    max-height: 7.5rem;
    overflow-y: scroll;
  }
}
