.work-item {
  flex: 1 1 19rem;

  background-color: color(mono, muted);
}

.work-item__image {
  width: 100%;
  height: 14rem;

  background-size: cover;
  background-position: center;
}

.work-item__text {
  max-height: 7.5rem;
  overflow-y: scroll;
}
