---
layout: layouts/page.liquid
title: Celebrations
tagline: We all deserve to brag about a few things.
no-max-width: true
---

<div class="resp-max-width">
  <p>
    This is a big board of things I've done, small and large, that I'm especially proud of. You'll see a mix of coding work, rewards, little hobbies, events, and who knows what else. When I take over New Haven through a targeted sonic wave attack, it'll be here.
  </p>

  <p>
    For my coding projects here, I can't promise the older ones use sexy new tools or have been well-maintained. But at the time, I swear they were pristine and perfect.
  </p>
</div>

<section id="celebrations" class="celebrations-layout">
  {% assign celebration_list = celebrations %}
  {% for celeb in celebration_list %}
    {% include celebration.liquid,
      title: celeb.title,
      date: celeb.date,
      type: celeb.type,
      description: celeb.description,
      image: celeb.image,
      link: celeb.link
    %}
  {% endfor %}
</section>

<script>
(function() {
  let celebrations = document.getElementById('celebrations');

  for (var i = celebrations.children.length; i >= 0; i--) {
    celebrations.appendChild(celebrations.children[Math.random() * i | 0]);
  }
})();
</script>
