.exocortex-layout__wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.exocortex-layout__menu {

}

.exocortex-layout__content {

}

.exocortex-layout__wrapper--js {
  &.exocortex-layout__wrapper {
    flex-direction: column;
  }
}
