---
layout: layouts/page.liquid
title: Notes
tagline: Personal quips and nonsensical snippets
no-max-width: true
contentType: "Page"
pagination:
  data: collections.notes
  size: 15
  alias: notes
---

<div class="slant-bottom-padding pt-10">
  <p>
    Sometimes I want to write things that can't work as a blog post, I don't want to lose amid Twitter, or don't make any sense. For all these streams of conscious, I have my Notes. They have lots of colors to match how across the board they can get.
  </p>

  <p>
    Keep scrolling to read my notes in order. <a class="hidden" id="random-note-link">Or surprise yourself with a random note.</a>
  </p>
</div>

<section class="post-content--full-bleed post-content--full-bleed--no-mb">
  {% for note in notes %}
    {% include note.liquid,
      date: note.data.date
      content: note.templateContent
      url: note.url
      index: forloop.index
    %}
  {% endfor %}
</section>
