@each $palette, $swatches in $color-map {
  @each $label, $color in $swatches {
    .bg-#{$palette}-#{$label} { background-color: $color; }
    .text-#{$palette}-#{$label} { color: $color; }
    .border-#{$palette}-#{$label} { border-color: $color; }
  }
}

// .border-primary-light {
//   border: spacing(border) solid color(primary, light);
// }
