---
layout: layouts/page.liquid
title: Work
tagline: Code samples and side projects
main-hide-slant: true
removeArticleTopPadding: true
---

<div class="post-content--full-bleed post-content--full-bleed--no-mt post-content--full-bleed--no-mb slant-top-left pt-10 slant-bottom-padding bg-mono-muted poke-border--text">
  <div class="resp-max-width">
    <p>
      Like most programmers, my work is a mix of code I've written for jobs, to practice new skills, to solve small problems in my life, and to answer pointless questions I asked myself in the dead of night.
    </p>

    <p>
      <strong>Disclaimer:</strong> I can't show code samples from all of my jobs here. Some are either proprietary or just not easily reached by any old web browser. If you're still curious about my career work, check out <a href="http://codepen.io/max1128/">my CodePen page</a> and <a href="https://www.linkedin.com/in/maxwellantonucci/">my LinkedIn page.</a>
    </p>
  </div>
</div>

{% assign majorWork = work[0].work %}
{% assign sideProjects = work[1].work %}

<div class="post-content--full-bleed post-content--full-bleed--no-mt slant-top-right lg--pt-8 slant-bottom-padding bg-mono-white border-primary-light">
  <div class="resp-max-width resp-max-width--large mt-10">
    <h2>
      Major Work
    </h2>

    <section class="flex flex-wrap flex-align-start flex-justify-center flex-gap-4">
      {% for workItem in majorWork %}
        {% include workItem.liquid
          workItem: workItem %}
      {% endfor %}
    </section>

    <hr />

    <h2>
      Side Projects
    </h2>

    <section class="flex flex-wrap flex-align-start flex-justify-center flex-gap-4">
      {% for workItem in sideProjects %}
        {% include workItem.liquid
          workItem: workItem %}
      {% endfor %}
    </section>
  </div>
</div>
