<!DOCTYPE html>
<html lang="en">
  {% include head.liquid %}

  <body>
    <a href="#content" class="skip-to-content inline-block p-2 bg-mono-white z-dropdown">
      Skip To Content
    </a>

    {% include nav.liquid %}

    <main>
      {{ content | safe }}
    </main>

    {% include footer.liquid %}
    {% include footerscripts.liquid %}
  </body>
</html>
