<!DOCTYPE html>
<html lang="en">
  {% include head.liquid %}

  <body>
    <a href="#content" class="skip-to-content inline-block p-2 bg-mono-white z-dropdown">
      Skip To Content
    </a>

    {% include nav.liquid %}

    <header>
      {% include topHeader.liquid %}

      {% if layout contains "page.liquid" %}
        {% include pageHeader.liquid %}
      {% elsif layout contains "post.liquid" %}
        {% include postHeader.liquid %}
      {% endif %}
    </header>

    <main>
      {{ content | safe }}
    </main>

    {% if layout contains "post.liquid" or layout contains "note.liquid" %}
      <aside class="py-4 border-primary-top">
        <div class="resp-max-width py-4">
          {% if layout contains "post.liquid" %}
            {% include postAside.liquid %}
          {% elsif layout contains "note.liquid" %}
            {% include noteAside.liquid %}
          {% endif %}
        </div>
      </aside>
    {% endif %}

    {% include footer.liquid %}
    {% include footerscripts.liquid %}
    {% include serviceworker.liquid %}
  </body>
</html>
