<!DOCTYPE html>
<html lang="en" class="no-js">
  {% include head.liquid %}

  <body>
    <a href="#content" class="skip-to-content inline-block p-2 bg-mono-white z-dropdown">
      Skip To Content
    </a>

    {% include nav.liquid %}

    <header>
      {% include topHeader.liquid %}

      {% if layout contains "page.liquid" %}
        {% include pageHeader.liquid %}
      {% elsif layout contains "post.liquid" %}
        {% include postHeader.liquid %}
      {% endif %}
    </header>

    <main class="
      {% unless main-hide-slant == true or contentType == 'Note' %}
        slant-top-left bg-mono-white border-primary-base
        {% unless title contains 'Notes' %}
          slant-bottom-padding
        {% endunless %}
      {% endunless %}">
      {{ content | safe }}
    </main>

    {% if layout contains "post.liquid" or layout contains "note.liquid" %}
      <aside class="{% if contentType == 'Note' %}slant-top-left{% else %}slant-top-right{% endif %} slant-bottom-padding border-primary-light">
        <div class="resp-max-width py-8">
          {% if layout contains "post.liquid" %}
            {% include postAside.liquid %}
          {% elsif layout contains "note.liquid" %}
            {% include noteAside.liquid %}
          {% endif %}
        </div>
      </aside>
    {% endif %}

    {% if pagination and hidePagination != true %}
      <aside class="slant-top-right slant-bottom-padding border-primary-light">
        {% include pagination.liquid %}
      </aside>
    {% endif %}

    {% include footer.liquid %}
    {% include footerscripts.liquid %}
    {% include serviceworker.liquid %}
  </body>
</html>
