---
layout: layouts/base.liquid
no-max-width: true
---

<div class="exocortex-layout__wrapper">
  {% include exocortexmenu.liquid %}

  <article id="content" class="resp-max-width">
    <h1>
      {{ title }}
    </h1>

    {{ content }}
  </article>
</div>
