---
layout: layouts/base.liquid
---

<div id="content" class="height-100">
  {% include note.liquid,
    date: date
    content: content
    class: "note-styler--page height-100",
    singleNotePage: true
  %}
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
