---
layout: layouts/base.liquid
---

<div id="content" class="height-100">
  {% include note.liquid,
    date: date
    content: content
    class: "note-styler--page height-100 border-primary-top",
    singleNotePage: true
  %}
</div>
