---
layout: layouts/base.liquid
---

<article id="content" class="post-content width-100">
  {{ content | replace: "<p><img", "<figure><img" | replace: "></p>", "></figure>" | safe }}

  {% if link %}
    <p class="mt-6">
      <a
        class="inline-block py-2 px-4 no-underline font-weight-bold text-h6 bg-action-base text-mono-white border-radius-base box-shadow-2"
        href="{{ link }}"
        rel="external">
        View Link
      </a>
    </p>
  {% endif %}

  {% footnotes %}
</article>

<script
  async
  src="https://platform.twitter.com/widgets.js"
  charset="utf-8"></script>
